body#tinymce {
    background: url("../images/board/boardBg.jpg") !important;
    color: #fff !important; 
}
body#tinymce a,
body#tinymce a:link,
body#tinymce a:visited {
    color: #fff;
    text-decoration: underline;
}
body#tinymce a:hover,
body#tinymce a:focus {
    text-decoration: none;
}
body#tinymce table {
	color: #fff;
    margin: 10px 0;
    border-collapse: collapse;
    border: 1px solid #fff;
}
body#tinymce table caption {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Droid Sans';
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border:  1px solid #fff;
    border-bottom-width: 0;
    color: #fff;
}
body#tinymce table th,
body#tinymce table td {
    border: 1px solid #fff;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: 'Droid Sans';
    font-weight: normal;
}
body#tinymce h3 {
    margin: 20px 0 10px;
    color: #fff;
}
body#tinymce h4 {
    margin: 20px 0 10px;
    color: #fff;
}
body#tinymce h5 {
    margin: 20px 0 10px;
    color: #fff;
}
body#tinymce h6 {
    margin: 20px 0 10px;
    color: #fff;
}