html {
  font-size: 62.5%;
}

body, html {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #484848;
  background-color: #eff9fa;
  background-image: url("../images/background-gradient.png");
  background-repeat: repeat-x;
  font-size: 1.4rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

span {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

a {
  color: #3a9d0c;
  text-decoration: none;
  outline: 0;
  display: inline-block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: all .3s ease;
}

a:hover, a:focus {
  color: #3a9d0c;
}

a[href^="mailto:"] {
  word-break: break-all;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:before, .clearfix:after, .clear:before, .clear:after {
  content: " ";
  display: table;
}

.clearfix:after, .clear:after {
  clear: both;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  position: absolute;
  left: -9000em;
}

input[type="text"], input[type="password"], input[type="email"] {
  height: 32px;
  width: 100%;
  line-height: 30px;
  border: 1px solid #6b2e15;
  color: #6b2e15;
  background-color: #f3d5ba;
  padding: 0 10px;
}

textarea {
  border: 1px solid #6b2e15;
  padding: 10px;
  width: 100%;
  color: #6b2e15;
  background-color: #f3d5ba;
  resize: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

iframe {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:not([href]) {
  width: 0;
  height: 0;
  display: inline;
}

h3 {
  font-weight: 700;
  color: #7e2705;
  margin: 0 0 10px;
  font-size: 2rem;
  line-height: 24px;
}

.base {
  display: none;
}

@media (min-width: 1231px) {
  body, html {
    overflow-x: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100% !important;
  }
}

@media (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .main {
    height: auto !important;
  }
}

.toolbar {
  margin: 3px auto 0;
  width: 1170px;
  height: 48px;
  color: #fff;
  z-index: 9;
  position: relative;
  background-image: url("../images/toolbar/toolbar-outer.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.toolbar a {
  color: #fff;
}

.toolbar__holder {
  position: relative;
  z-index: 2;
}

.toolbar__holder:before, .toolbar__holder:after {
  content: " ";
  display: table;
}

.toolbar__holder:after {
  clear: both;
}

.toolbar__holder--left {
  margin-top: 6px;
  float: left;
}

.toolbar__holder--right {
  margin-top: 5px;
  float: right;
}

.toolbar__links {
  float: left;
  font-size: 1.3rem;
}

.toolbar__links li {
  display: inline-block;
}

.toolbar__links li a {
  display: block;
}

.toolbar__links li a img {
  margin-right: 6px;
}

.toolbar__links li:not(:last-child) {
  margin-right: 20px;
}

.toolbar__links li:last-child {
  margin-top: 3px;
}

.toolbar__fonts {
  float: left;
}

.toolbar__fonts span {
  display: inline-block;
  margin-right: 7px;
}

.toolbar__fonts ul {
  display: inline-block;
}

.toolbar__fonts li {
  display: inline-block;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-right: 4px;
}

.toolbar__fonts li:first-child {
  font-size: 14px;
}

.toolbar__fonts li:nth-child(2) {
  font-size: 17px;
}

.toolbar__fonts li:last-child {
  font-size: 20px;
}

.toolbar__contrast {
  float: left;
  margin: 0 36px 0 10px;
}

.toolbar__contrast > div {
  position: relative;
  top: 4px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #000;
  overflow: hidden;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);
}

.toolbar__contrast > div:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 19px;
  top: 0;
  bottom: 0;
  left: 9px;
}

.toolbar__background {
  position: absolute;
  width: 100%;
  height: 48px;
  top: -3px;
  left: 0;
  bottom: 0;
  right: 0;
}

.toolbar__background path {
  fill: #471100;
}

.toolbar__search--path {
  fill: #ca945e;
}

.toolbar__search {
  float: left;
}

.toolbar__search form:before, .toolbar__search form:after {
  content: " ";
  display: table;
}

.toolbar__search form:after {
  clear: both;
}

.toolbar__search input[type="text"] {
  width: 180px;
  float: left;
  padding-right: 15px;
}

.toolbar__search button {
  transition: all .3s ease;
  float: left;
  width: 82px;
  height: 39px;
  font-weight: 700;
  color: #7e2705;
  line-height: 39px;
  position: relative;
  padding: 0;
  bottom: 1px;
  right: 10px;
}

.toolbar__search button svg {
  width: 82px;
  height: 39px;
  position: absolute;
  top: 0;
  left: 0;
}

.toolbar__search button span {
  position: relative;
  z-index: 2;
  bottom: 2px;
}

.toolbar__search button:before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 9px;
  background-image: url("../images/dot.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 3px;
  left: 36px;
  z-index: 3;
}

.toolbar__search button:hover {
  color: #3a0000;
}

.toolbar--hamburger {
  display: none;
  background-image: url("../images/textures/texture-dark.jpg");
  background-repeat: repeat;
  border: 0;
  box-shadow: none;
  width: 100%;
  height: 48px;
  padding: 6px 15px;
}

.toolbar--hamburger i {
  pointer-events: none;
  transition: all .3s ease;
  display: block;
  width: 36px;
  height: 3px;
  background-color: #fff;
}

.toolbar--hamburger i:not(:last-of-type) {
  margin-bottom: 7px;
}

.toolbar--hamburger[aria-expanded="true"] i:first-of-type {
  transform: rotate(45deg) translateX(8px) translateY(7px);
}

.toolbar--hamburger[aria-expanded="true"] i:nth-of-type(2) {
  opacity: 0;
}

.toolbar--hamburger[aria-expanded="true"] i:last-of-type {
  transform: rotate(-45deg) translateX(7px) translateY(-6px);
}

@media (max-width: 1199px) {
  .toolbar {
    width: 970px;
    margin-top: 5px;
    background-size: 99% 100%;
    background-position: 17% 50%;
  }
  .toolbar__background {
    top: -5px;
  }
}

@media (max-width: 991px) {
  .toolbar {
    width: 100%;
    margin: 0;
    background-image: url("../images/toolbar/toolbar-texture.jpg");
    background-repeat: repeat;
  }
  .toolbar__holder--left {
    margin: 10px 0 0;
  }
  .toolbar__holder--right {
    margin: 8px 0 0;
  }
  .toolbar__background, .toolbar__fonts {
    display: none;
  }
  .toolbar--hamburger {
    display: block;
  }
}

@media (max-width: 767px) {
  .toolbar__links {
    font-size: 0;
  }
  .toolbar__links li:not(:last-child) {
    margin-right: 10px;
  }
  .toolbar__search input[type="text"] {
    display: none;
  }
  .toolbar__search .show input[type="text"] {
    display: none;
    display: block;
    position: absolute;
    right: 80px;
    top: 0;
  }
}

.hero {
  height: 405px;
  position: relative;
  overflow: hidden;
}

.hero__title {
  width: 215px;
  position: absolute;
  z-index: 2;
  right: 10px;
  right: 10px;
  top: 45px;
  font-size: 26px;
  line-height: 32px;
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  text-align: right;
  font-weight: 700;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.hero__holder {
  width: 624px;
  height: 411px;
  left: 262px;
  transform: translateY(-8px);
  position: relative;
  z-index: 5;
}

.hero__background--inner, .hero__slider {
  width: 624px;
  height: 408px;
  position: absolute;
}

.hero__background--inner li, .hero__slider li {
  height: 408px;
}

.hero__dot--left {
  display: block;
  position: absolute;
  z-index: 4;
  left: 4px;
  bottom: 28px;
}

.hero__dot--right {
  display: block;
  position: absolute;
  z-index: 4;
  right: 6px;
  bottom: 10px;
}

.hero__background--outer {
  top: 3px;
  width: 624px;
  height: 408px;
  position: absolute;
}

.hero__background--outer path {
  fill: #51120a;
}

.hero__background--inner path {
  fill: #4c0b00;
}

.hero__banner {
  top: 10px;
  left: 10px;
  width: 594px;
  height: 379px;
  position: absolute;
}

.hero__info {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  width: 180px;
  bottom: 85px;
  right: 10px;
  text-align: right;
  position: absolute;
}

.hero__info.font--small {
  font-size: 13px;
  line-height: 15px;
}

.hero__info a {
  color: #30a9bc;
  text-decoration: underline;
}

.hero__info a:hover {
  text-decoration: none;
}

.hero__info * {
  color: #30a9bc !important;
  position: relative;
  z-index: 2;
  margin: 0;
}

.hero__info:before {
  content: '';
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/decorations/address.png");
  z-index: 1;
  width: 449px;
  height: 240px;
  top: -60px;
  right: -79px;
}

@media (max-width: 1199px) {
  .hero__holder {
    left: 0;
  }
}

@media (min-width: 992px) {
  .owl-carousel .owl-wrapper-outer {
    height: 388px;
  }
  .owl-carousel .owl-wrapper-outer .owl-wrapper {
    height: 408px;
  }
}

@media (max-width: 991px) {
  .hero {
    height: 290px;
  }
  .hero__title {
    font-size: 2.3rem;
    line-height: 26px;
    left: 500px;
    width: 315px;
    text-align: center;
  }
  .hero__info {
    font-size: 1.4rem;
    line-height: 16px;
    left: 500px;
    width: 315px;
    bottom: 30px;
    text-align: center;
  }
  .hero__info:before {
    display: none;
  }
  .hero__dot--left {
    left: 0;
    bottom: 18px;
  }
  .hero__holder {
    width: 424px;
    height: 279px;
    left: 40px;
    transform: translateY(-8px);
    position: relative;
    z-index: 5;
  }
  .hero__background--inner, .hero__slider {
    width: 424px;
    height: 276px;
    position: absolute;
  }
  .hero__background--inner li, .hero__slider li {
    height: 276px;
  }
  .hero__background--outer {
    top: -13px;
    right: 17px;
    width: 424px;
    height: 276px;
    position: absolute;
  }
  .hero__banner {
    left: 10px;
    width: 394px;
    height: calc(100% - 20px);
    position: absolute;
  }
}

@media (max-width: 840px) {
  .hero__holder {
    left: 0;
  }
  .hero__title, .hero__info {
    left: 500px;
    width: 230px;
  }
  .hero__title {
    margin: 0;
    top: 30px;
  }
}

@media (max-width: 767px) {
  .hero {
    height: auto;
    padding: 30px 0;
  }
  .hero__title, .hero__info {
    width: calc(100% - 200px);
    position: static;
    margin: 0 auto;
  }
  .hero__holder {
    margin: 20px auto;
    position: relative;
    transform: none;
    left: auto;
    right: auto;
    top: auto;
  }
}

@media (max-width: 639px) {
  .hero__title, .hero__info {
    width: calc(100% - 100px);
  }
}

@media (max-width: 479px) {
  .hero {
    padding: 15px 0;
  }
  .hero__title, .hero__info {
    width: 100%;
  }
  .hero__holder {
    width: 100%;
    margin: 10px auto;
  }
  .hero__background--outer {
    display: none;
  }
  .hero__background--inner, .hero__slider {
    width: 100%;
  }
  .hero__banner {
    width: calc(100% - 30px);
  }
  .hero__dot {
    display: none;
  }
}

@media (max-width: 420px) {
  .hero__holder {
    margin-top: -20px;
    margin-bottom: -20px;
  }
}

.nav {
  width: 1140px;
  z-index: 3;
  display: block;
  margin: 0 auto;
  position: relative;
  transform: translateY(-42px);
  pointer-events: none;
}

.nav:before, .nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav > div {
  pointer-events: auto;
  width: 892px;
  min-height: 88px;
  background-image: url("../images/nav/nav-outer.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  line-height: 18px;
  position: relative;
  left: 262px;
  padding: 35px 5px 10px;
}

.nav > div:before {
  content: '';
  display: block;
  position: absolute;
  width: 33px;
  height: 31px;
  top: 9px;
  right: 8px;
  z-index: 2;
  background-size: cover;
  background-image: url("../images/decorations/bird.png");
  background-repeat: no-repeat;
}

.nav > div li.open > a {
  background-color: transparent !important;
}

.nav > div > ul {
  position: relative;
  z-index: 2;
  font-size: 0;
  text-align: center;
}

.nav > div > ul .dropdown-menu > li > a {
  background-color: transparent;
}

.nav > div > ul > li {
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 5px;
}

.nav > div > ul > li.open > a:hover, .nav > div > ul > li.open > a:focus {
  background-color: transparent;
}

.nav > div > ul > li.open ul {
  border: 0;
  padding: 0;
  margin-right: 0;
  float: none;
  box-shadow: none;
  font-size: 1.6rem;
  background-color: transparent;
  min-width: 0;
  position: static;
}

.nav > div > ul > li.open ul:last-child li:last-child a:last-child {
  border-bottom: 0;
}

.nav > div > ul > li.open ul li a {
  color: #7e2705;
  font-weight: bold;
  padding: 10px 0;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.53);
  text-align: left;
  border-bottom: 1px solid #ffc45c;
}

.nav > div > ul > li.open ul li a:hover {
  color: #3a0000;
}

.nav > div > ul > li.open ul li a.selected {
  text-decoration: none;
}

.nav > div > ul > li.open > ul {
  width: 192px;
  display: block;
  position: absolute;
  border-radius: 2px;
  background-color: #ca945e;
  background-image: url("../images/textures/texture-light.png");
  border: 2px solid #400808;
  transform: translateX(-50%);
  left: 50%;
  padding: 20px;
}

.nav > div > ul > li.open > ul:before, .nav > div > ul > li.open > ul:after {
  content: '';
  position: absolute;
  left: 50%;
  display: block;
  transform: rotate(360deg) translateX(-50%);
}

.nav > div > ul > li.open > ul:before {
  top: -9px;
  width: 17px;
  height: 17px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: #ffc45c;
}

.nav > div > ul > li.open > ul:after {
  top: -4px;
  width: 9px;
  height: 9px;
  background-image: url("../images/nav/nav-arrow-down.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 10;
}

.nav > div > ul > li.open > a {
  background-color: transparent;
  text-decoration: none;
  color: #ffc45c;
}

.nav > div > ul > li > a {
  display: block;
  padding: 10px;
  max-width: 875px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  color: #fff;
}

.nav > div > ul > li > a.selected, .nav > div > ul > li > a:hover {
  text-decoration: none;
  color: #ffc45c;
}

.nav__decoration--leaf {
  position: absolute;
  z-index: 1;
  top: -2px;
  left: 12px;
}

.nav__background {
  position: absolute;
  top: 2px;
  left: -1px;
  bottom: 2px;
  width: calc(100% + 1px);
  height: calc(100% - 6px);
}

.nav__background path {
  fill: #471100;
}

@media (max-width: 1199px) {
  .nav {
    width: 940px;
  }
  .nav > div {
    left: 0;
  }
  .nav > div:before {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav {
    height: auto !important;
  }
}

@media (max-width: 991px) {
  .nav__decoration--leaf {
    display: none;
  }
  .nav {
    z-index: 10;
    border: 0;
    display: none;
    position: absolute;
    transform: none;
    top: 48px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .nav > div {
    top: auto;
    bottom: auto;
    background-image: url("../images/toolbar/toolbar-texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: none;
    width: 100%;
    padding: 0;
    position: relative;
  }
  .nav > div:before {
    display: none;
  }
  .nav > div > ul {
    width: 100%;
  }
  .nav > div > ul > li {
    display: block;
    margin: 0;
  }
  .nav > div > ul > li.open ul {
    position: static;
    border-radius: 0;
    transform: none;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: none;
    width: 100%;
  }
  .nav > div > ul > li.open ul:before, .nav > div > ul > li.open ul:after {
    display: none;
  }
  .nav > div > ul > li.open ul li a {
    border: 0;
    text-align: center;
    font-weight: 400;
    color: #fff;
    text-shadow: none;
  }
  .nav > div > ul > li.open ul li a:hover {
    color: #ffc45c;
  }
  .nav > div > ul > li.open ul:last-child li:last-child a:last-child {
    border: 0;
  }
  .nav > div > ul > li > a {
    color: #fff;
    font-weight: 400;
    text-shadow: none;
    max-width: 100%;
  }
  .nav__background {
    display: none;
  }
}

.modules-top {
  width: 1140px;
  display: block;
  margin: 0 auto;
  margin-bottom: -55px;
  position: relative;
}

.modules-top p {
  margin-bottom: 5px;
}

.modules-top h2 {
  position: relative;
  background-image: url("../images/modules-top/mt-title-shadow.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  font-size: 2rem;
  line-height: 49px;
  font-weight: 700;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
  padding: 0 26px;
  margin: 0 0 15px;
}

.modules-top h2:before, .modules-top h2:after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 9px;
  background-image: url("../images/dot.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-53%);
  z-index: 2;
}

.modules-top h2:before {
  left: 5px;
}

.modules-top h2:after {
  right: 5px;
}

.modules-top h2 span {
  position: relative;
  z-index: 2;
  color: #7e2705;
  transform: translateY(-3%);
}

.modules-top h2 svg {
  transform: translateY(-3%);
}

.modules-top__holder {
  transform: translateY(-46px);
  width: 875px;
  position: relative;
  left: 280px;
}

.modules-top__background {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.modules-top__background path {
  fill: #4c0b00;
}

.modules-top__background--title {
  width: 100%;
  height: 49px;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.modules-top__background--title path {
  fill: #ca945e;
}

.modules-top__content {
  width: calc(100% - 20px);
  position: relative;
  margin-left: 10px;
  font-size: 1.3rem;
  line-height: 16px;
  min-height: 70px;
  color: #fff;
  padding-right: 100px;
}

.modules-top__content a {
  color: #fff;
}

.modules-top__content:before {
  display: block;
  position: absolute;
  right: -25px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
}

.modules-top__list {
  position: relative;
  z-index: 2;
  display: block;
  width: 830px;
  margin: 0 auto;
  padding: 20px 0 30px;
  font-size: 0;
}

.modules-top__list > li {
  font-size: 1.4rem;
  vertical-align: top;
  display: inline-block;
  padding: 0 8px;
  width: 25%;
}

.modules-top__list > li#mod_stats .stats-count {
  font-weight: bold;
}

.modules-top__list > li#mod_stats .modules-top__content:before {
  content: '';
  width: 87px;
  height: 51px;
  background-image: url("../images/icons/stats.png");
}

.modules-top__list > li#mod_menu .modules-top__content:before {
  content: '';
  width: 102px;
  height: 51px;
  background-image: url("../images/icons/menu.png");
}

.modules-top__list > li#mod_location .modules-top__content:before {
  content: '';
  width: 101px;
  height: 56px;
  background-image: url("../images/icons/location.png");
}

.modules-top__list > li#mod_video .modules-top__content:before {
  content: '';
  width: 76px;
  height: 76px;
  background-image: url("../images/icons/video.png");
}

.modules-top__list > li#mod_jokes .modules-top__content:before {
  content: '';
  width: 60px;
  height: 61px;
  background-image: url("../images/icons/jokes.png");
}

.modules-top__list > li#mod_timetable .modules-top__content:before {
  content: '';
  width: 94px;
  height: 57px;
  background-image: url("../images/icons/timetable.png");
}

.modules-top__list > li#mod_programs .modules-top__content:before {
  content: '';
  width: 82px;
  height: 63px;
  background-image: url("../images/icons/programs.png");
}

.modules-top__list > li#mod_newsletter .modules-top__content:before {
  content: '';
  width: 82px;
  height: 63px;
  background-image: url("../images/icons/newsletter.png");
}

.modules-top__list > li#mod_gallery .modules-top__content:before {
  content: '';
  width: 99px;
  height: 83px;
  background-image: url("../images/icons/gallery.png");
}

.modules-top__list > li#mod_contact a {
  text-decoration: underline;
}

.modules-top__list > li#mod_contact a:hover {
  text-decoration: none;
}

.modules-top__list > li#mod_contact .modules-top__content:before {
  content: '';
  width: 75px;
  height: 63px;
  background-image: url("../images/icons/contact.png");
}

.modules-top__list > li#mod_kzk .modules-top__content:before {
  content: '';
  width: 77px;
  height: 80px;
  background-image: url("../images/icons/kzk.png");
}

.modules-top__list > li#mod_calendar .clock-container {
  width: 76px;
  height: 76px;
  position: absolute;
  top: 0;
  right: -25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/background-clock.png");
  background-position: center center;
}

.modules-top__list > li#mod_calendar .clock-container svg {
  width: 59px;
  height: 59px;
  transform: translateX(8px) translateY(9px);
}

.modules-top__list > li#mod_login fieldset {
  width: 100%;
}

.modules-top__list > li#mod_login input[type="text"], .modules-top__list > li#mod_login input[type="password"] {
  width: 100%;
  margin: 0 0 5px;
}

.modules-top__list > li#mod_login input[type="submit"]:hover {
  text-decoration: underline;
}

.modules-top__list > li#mod_login .modules-top__content {
  padding-right: 0 !important;
}

.modules-top__list > li#mod_login a[href="edytuj-konto"] {
  color: #e59a3e;
}

.modules-top__list > li#mod_login .userAvatar {
  float: left;
  margin: 0 10px 10px 0;
}

.modules-top__list > li.one {
  width: 100%;
}

.modules-top__list > li.one h2:before {
  left: 8px;
}

.modules-top__list > li.one h2:after {
  right: 14px;
}

.modules-top__list > li.one .modules-top__content {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.modules-top__list > li.two {
  width: 50%;
}

.modules-top__list > li.two h2:after {
  right: 8px;
}

.modules-top__list > li.two .modules-top__content {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.modules-top__list > li.three {
  width: 33.3333%;
}

.modules-top__list > li.three h2 {
  width: 243px;
  height: 52px;
}

.modules-top__list > li.three .modules-top__content {
  width: 240px;
}

.modules-top__list > li.three .modules-top__content:before {
  right: -15px;
}

@media (max-width: 1199px) {
  .modules-top {
    z-index: 3;
    width: 940px;
    margin-bottom: -35px;
  }
  .modules-top__holder {
    left: 18px;
  }
  .modules-top__content:before {
    transform: scale(0.8);
    transform-origin: 100% 0%;
  }
}

@media (max-width: 991px) {
  .modules-top {
    width: 100%;
    overflow: hidden;
    z-index: 1;
    min-height: 0;
    margin: 0 0 20px;
  }
  .modules-top__holder {
    width: 100%;
    transform: none;
    position: relative;
    left: auto;
    right: auto;
    min-height: 0;
  }
  .modules-top__background {
    width: 120%;
    height: 110%;
    left: -10%;
  }
  .modules-top__list {
    width: 100%;
    padding: 15px 15px 0;
  }
  .modules-top__list > li {
    width: 50%;
    max-width: 50%;
    margin: 0 0 45px;
  }
  .modules-top__list > li h2 {
    width: 100% !important;
    height: auto !important;
    font-size: 1.6rem !important;
    background-image: none;
    padding: 0 22px 0 26px;
  }
  .modules-top__list > li h2:before {
    left: 12px;
  }
  .modules-top__list > li h2:after {
    right: 12px;
  }
  .modules-top__list > li#mod_calendar .modules-top__content {
    min-height: 85px;
  }
  .modules-top__list > li#mod_calendar .clock-container {
    right: -5px;
  }
  .modules-top__content {
    width: 100% !important;
    max-width: 310px;
    margin: 0 auto !important;
    padding-right: 100px !important;
  }
}

@media (max-width: 767px) {
  .modules-top {
    overflow: visible;
  }
  .modules-top__list {
    display: block;
  }
  .modules-top__list > li {
    display: block;
    width: 100% !important;
    max-width: 100%;
  }
  .modules-top__content {
    max-width: 280px;
    min-height: 60px;
  }
  .modules-top__content:before {
    right: -12px;
  }
}

@media (max-width: 539px) {
  .modules-top__list > li {
    width: 100%;
    max-width: 100%;
  }
}

.modules-content {
  margin: 20px 0;
}

.modules-content > ul {
  display: block;
  width: 877px;
  font-size: 0;
  text-align: center;
}

.modules-content > ul > li {
  text-align: left;
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 208px;
  transition: all .3s ease;
}

.modules-content > ul > li:hover {
  transform: rotate(3deg);
}

.modules-content > ul > li:hover h2 {
  color: #fff;
}

.modules-content > ul > li:before, .modules-content > ul > li:after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 9px;
  background-image: url("../images/dot.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

.modules-content > ul > li:before {
  bottom: 26px;
  left: 1px;
}

.modules-content > ul > li:after {
  bottom: 15px;
  right: 5px;
}

.modules-content > ul > li.one {
  width: 670px;
  height: 194px;
  margin-left: auto;
  margin-right: auto;
}

.modules-content > ul > li.one h2 {
  width: 243px;
  bottom: -20px;
  background-size: 100% 100%;
}

.modules-content > ul > li.one:before {
  bottom: 17px;
}

.modules-content > ul > li.one:after {
  bottom: 0;
  right: 9px;
}

.modules-content > ul > li.two {
  width: 292px;
  height: 194px;
}

.modules-content > ul > li.two .modules__content--background {
  transform: scale(1.2);
}

.modules-content > ul > li.two h2 {
  width: 243px;
  bottom: -20px;
}

.modules-content > ul > li.two:first-child {
  margin-right: 30px;
}

.modules-content > ul > li.two:last-child {
  margin-left: 30px;
}

.modules-content > ul > li.two:before {
  bottom: 12px;
}

.modules-content > ul > li.two:after {
  bottom: 2px;
}

.modules-content > ul > li.three {
  width: 292px;
}

.modules-content > ul > li.three h2 {
  width: 243px;
}

.modules-content > ul > li > a {
  display: block;
}

.modules-content > ul > li > a:hover h2 span {
  color: #3a0000;
}

.modules-content h2 {
  position: absolute;
  color: #7e2705;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
  font-size: 1.8rem;
  line-height: 49px;
  font-weight: bold;
  bottom: 0;
  margin: 0;
  left: 50%;
  height: 52px;
  padding: 0 25px;
  transform: translateX(-50%);
  background-image: url("../images/modules/mc-title-shadow.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.modules-content h2:before, .modules-content h2:after {
  content: '';
  width: 10px;
  height: 9px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/dot.svg");
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.modules-content h2:before {
  left: 5px;
}

.modules-content h2:after {
  right: 5px;
}

.modules-content h2 span {
  position: relative;
  z-index: 2;
  color: #7e2705;
}

.modules-content__background {
  width: 100%;
  height: 194px;
  transform: rotate(1deg);
}

.modules-content__background--title {
  width: 100%;
  height: 49px;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.modules-content__background--title path {
  fill: #ca945e;
}

@media (max-width: 1230px) {
  .modules-content > ul {
    width: 100%;
  }
  .modules-content > ul > li.one h2 {
    bottom: -10px;
    transform: translateX(-50%) scale(0.8);
  }
  .modules-content > ul > li.two h2 {
    bottom: -10px;
  }
  .modules-content > ul > li.three {
    width: 232px;
    height: 165px;
  }
  .modules-content > ul > li.three svg {
    height: 165px;
  }
  .modules-content > ul > li.three h2 svg {
    height: 49px;
  }
  .modules-content > ul > li:before {
    bottom: 14px;
    left: 1px;
  }
  .modules-content > ul > li:after {
    bottom: 7px;
    right: 1px;
  }
  .modules-content h2 {
    transform: translateX(-50%) scale(0.7) translateY(10px);
  }
}

@media (max-width: 1199px) {
  #modules-top2 {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .modules-content > ul h2 {
    position: absolute;
    bottom: 0;
  }
  .modules-content > ul > li:before {
    bottom: 13px;
  }
  .modules-content > ul > li:after {
    bottom: 8px;
  }
}

@media (max-width: 991px) {
  #modules-top2 {
    transform: none !important;
  }
  #modules-bottom {
    margin-bottom: 25px;
  }
  .modules-content {
    margin: 20px 0 0;
    overflow: visible;
  }
  .modules-content > ul {
    width: 750px;
    margin: 0 auto;
    text-align: center;
  }
  .modules-content > ul > li {
    margin: 0 4px;
  }
  .modules-content > ul > li.one {
    width: 292px;
  }
}

@media (max-width: 767px) {
  .modules-content__background {
    height: 194px !important;
  }
  .modules-content > ul {
    width: 100%;
    display: block;
  }
  .modules-content > ul > li {
    display: block;
    margin: 10px auto;
    width: 292px !important;
    height: 208px !important;
  }
  .modules-content > ul > li:before {
    bottom: 24px !important;
    left: 2px !important;
  }
  .modules-content > ul > li:after {
    bottom: 16px !important;
    right: 3px !important;
  }
  .modules-content > ul > li.two:first-child, .modules-content > ul > li.two:last-child {
    margin-left: auto;
    margin-right: auto;
  }
  .modules-content h2 {
    width: 243px !important;
    height: 52px !important;
    transform: scale(1) translateX(-50%) translateY(10px);
    bottom: 0 !important;
    background-image: none;
    position: absolute !important;
  }
}

.aside {
  position: relative;
  background-image: url("../images/decorations/tree-core.png");
  background-size: 38px 100%;
  background-position: 126px 0;
  background-repeat: repeat-y;
}

.aside__holder {
  position: relative;
  z-index: 2;
  font-size: 1.3rem;
  line-height: 18px;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.aside__holder a {
  color: #fff;
  text-decoration: none;
}

.aside__holder a:hover {
  text-decoration: underline;
}

.aside__holder h2 {
  position: relative;
  font-weight: 700;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
  color: #7e2705;
}

.aside__holder h2:before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 9px;
  background-image: url("../images/dot.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.aside__holder h2:before {
  left: 5px;
}

.aside__holder h2:after {
  right: 5px;
}

.aside__menu-link--path {
  fill: #471100;
}

.aside__module {
  position: relative;
  margin: 0 0 45px;
  padding: 50px 15px 30px 20px;
}

.aside__module:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: -10px;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/modules/aside-shadow.svg");
}

.aside__module:after {
  display: block;
  position: absolute;
  right: 10px;
  top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 4;
}

.aside__module > div {
  position: relative;
  z-index: 2;
}

.aside__module h2 {
  position: absolute;
  top: -42px;
  left: 0;
  width: 243px;
  height: 49px;
  z-index: 3;
  text-align: left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/modules/module-title.png");
}

.aside__module h2 span {
  line-height: 48px;
  position: relative;
  z-index: 4;
  font-size: 2rem;
  padding: 0 25px;
}

.aside__module h2:before, .aside__module h2:after {
  display: none;
}

.aside__module#mod_weather {
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  line-height: 16px;
}

.aside__module#mod_weather li {
  display: block;
  margin: 3px auto;
}

.aside__module#mod_timetable .aside__content {
  width: calc(100% - 100px);
}

.aside__module#mod_timetable:after {
  content: '';
  background-image: url("../images/icons/timetable.png");
  width: 94px;
  height: 57px;
}

.aside__module#mod_calendar p:first-child {
  margin: 0 0 15px;
}

.aside__module#mod_calendar p span {
  font-weight: 700;
}

.aside__module#mod_calendar .aside__content {
  width: calc(100% - 100px);
}

.aside__module#mod_calendar .clock-container {
  position: absolute;
  top: 0;
  right: 10px;
  width: 76px;
  height: 76px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/background-clock.png");
  background-position: center center;
}

.aside__module#mod_calendar .clock-container svg {
  width: 59px;
  height: 59px;
  transform: translateX(8px) translateY(9px);
}

.aside__module#mod_stats .aside__content {
  width: calc(100% - 100px);
}

.aside__module#mod_stats li {
  text-align: left;
}

.aside__module#mod_stats .stats-txt {
  font-weight: 700;
}

.aside__module#mod_stats:after {
  content: '';
  background-image: url("../images/icons/stats.png");
  width: 87px;
  height: 51px;
}

.aside__module#mod_programs .aside__content {
  width: calc(100% - 100px);
}

.aside__module#mod_programs:after {
  content: '';
  background-image: url("../images/icons/programs.png");
  width: 82px;
  height: 63px;
}

.aside__module#mod_kzk .aside__content {
  width: calc(100% - 100px);
}

.aside__module#mod_kzk:after {
  content: '';
  background-image: url("../images/icons/kzk.png");
  width: 77px;
  height: 80px;
}

.aside__module#mod_menu .aside__content {
  width: calc(100% - 100px);
}

.aside__module#mod_menu:after {
  content: '';
  background-image: url("../images/icons/menu.png");
  width: 102px;
  height: 51px;
}

.aside__module#mod_jokes .aside__content {
  width: calc(100% - 100px);
}

.aside__module#mod_jokes:after {
  content: '';
  background-image: url("../images/icons/jokes.png");
  top: 30px;
  width: 60px;
  height: 61px;
}

.aside__module#mod_video .aside__content {
  width: calc(100% - 100px);
}

.aside__module#mod_video:after {
  content: '';
  background-image: url("../images/icons/video.png");
  top: 30px;
  width: 76px;
  height: 76px;
}

.aside__module#mod_gallery .aside__content {
  width: calc(100% - 100px);
}

.aside__module#mod_gallery:after {
  content: '';
  background-image: url("../images/icons/gallery.png");
  top: 30px;
  width: 99px;
  height: 83px;
}

.aside__module#mod_contact p {
  margin: 0;
}

.aside__module#mod_contact .aside__content {
  width: calc(100% - 75px);
}

.aside__module#mod_contact:after {
  content: '';
  background-image: url("../images/icons/contact.png");
  width: 75px;
  height: 63px;
}

.aside__module#mod_contact a {
  text-decoration: underline;
}

.aside__module#mod_contact a:hover {
  text-decoration: none;
}

.aside__module#mod_forum .base--button {
  margin-top: 10px;
}

.aside__module#mod_forum:after {
  content: '';
  background-image: url("../images/icons/forum.png");
  top: 30px;
  width: 69px;
  height: 62px;
}

.aside__module#mod_forum .bolder, .aside__module#mod_forum #modForum {
  display: none;
}

.aside__module#mod_location .aside__content {
  width: calc(100% - 105px);
}

.aside__module#mod_location:after {
  content: '';
  background-image: url("../images/icons/location.png");
  top: 30px;
  width: 101px;
  height: 56px;
}

.aside__module#mod_login legend {
  display: none;
}

.aside__module#mod_login label, .aside__module#mod_login input[type="text"], .aside__module#mod_login input[type="password"] {
  display: block;
  float: left;
}

.aside__module#mod_login input[type="text"], .aside__module#mod_login input[type="password"] {
  width: 160px;
}

.aside__module#mod_login label {
  padding: 0 0 0 10px;
  font-family: 'Droid Sans', sans-serif;
  line-height: 34px;
  width: calc(100% - 160px);
}

.aside__module#mod_login .clear {
  clear: both;
  height: 8px;
  display: block;
}

.aside__module#mod_login a[href="edytuj-konto"] {
  color: #e59a3e;
}

.aside__module#mod_login .userAvatar {
  float: left;
  margin: 0 10px 10px 0;
}

.aside__module#mod_login .base--button {
  margin-top: 5px;
}

.aside__module#mod_questionnaire legend {
  display: none;
}

.aside__module#mod_questionnaire fieldset {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
}

.aside__module#mod_questionnaire .clearfix {
  display: none;
}

.aside__module#mod_questionnaire ul {
  font-size: 1.3rem;
  margin: 0 0 10px;
  padding: 0;
}

.aside__module#mod_questionnaire ul li {
  display: block;
}

.aside__module#mod_questionnaire ul li:not(:last-child) {
  margin: 0 0 4px;
}

.aside__module#mod_questionnaire ul input[type="radio"] {
  position: absolute;
  transform: translateX(2px) translateY(-2px);
}

.aside__module#mod_questionnaire ul input[type="radio"]:checked + label:after {
  display: block;
}

.aside__module#mod_questionnaire ul label {
  padding: 0 0 0 26px;
  color: inherit;
  position: relative;
  z-index: 2;
  width: 215px;
}

.aside__module#mod_questionnaire ul label:before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid #d8aa51;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.aside__module#mod_questionnaire ul label:after {
  content: '';
  position: absolute;
  display: none;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #84220b;
}

.aside__module#mod_questionnaire ul label .radio {
  display: none;
}

.aside__module#mod_questionnaire ul label .label {
  padding: 0;
  font-size: 1.3rem;
  text-align: left;
  border-radius: 0;
  white-space: normal;
}

.aside__module#mod_newsletter .aside__content {
  width: calc(100% - 100px);
}

.aside__module#mod_newsletter:after {
  content: '';
  background-image: url("../images/icons/newsletter.png");
  width: 82px;
  height: 63px;
}

.aside__module#mod_calendar2 table {
  width: 243px;
  margin: 40px auto 0;
  border-collapse: collapse;
  transform: translateX(-8px);
  position: relative;
}

.aside__module#mod_calendar2 table caption {
  position: absolute;
  width: 220px;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  font-size: 1.6rem;
  line-height: 18px;
  padding: 0;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.aside__module#mod_calendar2 table th, .aside__module#mod_calendar2 table td {
  width: 33px;
  height: 33px;
  line-height: 33px;
  font-size: 1.3rem;
  text-align: center;
}

.aside__module#mod_calendar2 table th a, .aside__module#mod_calendar2 table td a {
  display: block;
  height: 33px;
  color: inherit;
}

.aside__module#mod_calendar2 table th {
  background-color: #e59a3e;
  color: #7e2705;
  border-left: 1px solid #e59a3e;
  border-right: 1px solid #e59a3e;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
}

.aside__module#mod_calendar2 table td {
  color: #fff;
  border-left: 1px solid #ffc45c;
  border-right: 1px solid #ffc45c;
}

.aside__module#mod_calendar2 table td.pr_day {
  background-color: #5d0c0c;
}

.aside__module#mod_calendar2 table td.imp_day {
  background-color: #e59a3e;
  color: #7e2705;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
}

.aside__module#mod_calendar2 table td.imp_day:hover {
  background-color: #5d0c0c;
}

.aside__module#mod_calendar2 table td.imp_day:hover a {
  color: #fff;
  text-decoration: none;
}

.aside__module#mod_calendar2 #calendarNews {
  position: relative;
}

.aside__module#mod_calendar2 #calendarNews > div:not(#calendarNews) {
  position: absolute;
  top: -48px;
  width: 38px;
  height: 39px;
  z-index: 2;
}

.aside__module#mod_calendar2 #calendarNews > div:not(#calendarNews) a {
  display: block;
  height: 39px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.aside__module#mod_calendar2 #calendarNews > div:not(#calendarNews) a i {
  display: none;
}

.aside__module#mod_calendar2 #calendarNews > div:not(#calendarNews) a:hover {
  transform: rotate(6deg);
}

.aside__module#mod_calendar2 #calendarNews .caption_nav_prev {
  left: -5px;
}

.aside__module#mod_calendar2 #calendarNews .caption_nav_prev a {
  background-image: url("../images/modules/calendar-left.png");
}

.aside__module#mod_calendar2 #calendarNews .caption_nav_next {
  right: -5px;
}

.aside__module#mod_calendar2 #calendarNews .caption_nav_next a {
  background-image: url("../images/modules/calendar-right.png");
}

.aside__modules {
  margin: 40px 0 0;
}

.aside__modules > div:nth-child(even) .aside__background--dark {
  display: none;
}

.aside__modules > div:nth-child(odd) .aside__background--light {
  display: none;
}

.aside__background--shadow {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 100%;
}

.aside__background--shadow path {
  fill: #471100;
}

.aside__background--module {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.aside__background--module path {
  fill: #471100;
}

.aside__background--title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.aside__menu {
  background-image: url("../images/decorations/tree-core.png");
  background-size: 38px 100%;
  background-position: 111px 0;
  background-repeat: repeat-y;
  width: 263px;
}

.aside__menu span {
  position: relative;
  z-index: 2;
}

.aside__menu li a {
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

.aside__menu li a:before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 9px;
  background-image: url("../images/dot.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 5px;
  left: calc(50% - 5px);
  z-index: 2;
}

.aside__menu li a:after {
  content: '';
  display: block;
  background-image: url("../images/aside/aside-menu-link-shadow.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  position: absolute;
  background-size: cover;
  transform: rotate(1deg);
  width: 100%;
  height: 8px;
  bottom: -1px;
  left: 1px;
  right: 0;
  z-index: 0;
}

.aside__menu li a svg {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 0;
}

.aside__menu h2 {
  position: relative;
  background-size: 100% 88%;
  text-align: center;
  font-size: 2rem;
  line-height: 24px;
  font-weight: bold;
  margin: 11px 0 0;
  padding: 12px 2px;
  color: #7e2705;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
}

.aside__menu h2 span {
  display: inline-block;
  position: relative;
  z-index: 2;
  transform: translateY(-6%);
}

.aside__menu h2:before {
  left: calc(50% - 5px);
  top: 6px;
}

.aside__menu h2:after {
  content: '';
  display: block;
  background-image: url("../images/aside/aside-menu-title-shadow.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  position: absolute;
  background-size: cover;
  width: calc(100% - 6px);
  height: 30px;
  bottom: 1px;
  left: 2px;
  right: 4px;
  z-index: 0;
}

.aside__menu h2 svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-6%);
  z-index: 1;
}

.aside__menu ul li {
  display: block;
  margin-top: -3px;
}

.aside__menu ul li a {
  text-align: center;
  display: block;
  padding: 15px 12px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.aside__menu ul li a.font--small {
  font-size: 13px;
}

.aside__menu ul li a:hover, .aside__menu ul li a.selected {
  color: #e59a3e;
  text-decoration: none;
}

.aside__menu ul li a span {
  text-shadow: 0px 2px 2px rgba(88, 28, 6, 0.8);
}

.aside__menu ul .dropdown-menu {
  border-radius: 0;
  border: 0;
  position: relative;
  left: auto;
  box-shadow: none;
  top: auto;
  float: none;
  background-color: transparent;
}

.aside__menu ul .dropdown-menu > li > a {
  transform: scale(0.95);
}

.aside__menu ul .dropdown-menu > li > a:hover, .aside__menu ul .dropdown-menu > li > a:focus {
  color: #e59a3e;
  background-color: transparent;
  text-decoration: none;
}

.aside__menu ul .dropdown-menu .dropdown-menu > li > a {
  transform: scale(0.85);
}

@media (min-width: 992px) and (max-width: 1199px) {
  .aside__menu:before {
    content: '';
    display: block;
    position: absolute;
    left: 101px;
    top: -60px;
    width: 38px;
    height: 65px;
    background-image: url("../images/decorations/tree-core.png");
    background-size: 38px 100%;
    background-repeat: repeat-y;
  }
}

@media (max-width: 1199px) {
  .aside {
    background-position: 95px 0;
  }
  .aside__holder {
    bottom: auto !important;
  }
  .aside__modules {
    width: calc(100% + 20px);
    transform: translateX(-18px);
  }
  .aside__module h2 {
    max-width: 100%;
  }
  .aside__module h2 span {
    font-size: 1.6rem;
  }
  .aside__module#mod_jokes:after, .aside__module#mod_video:after, .aside__module#mod_gallery:after {
    top: 40px;
  }
  .aside__module#mod_login label, .aside__module#mod_login input[type="text"], .aside__module#mod_login input[type="password"] {
    float: none;
    width: 100%;
  }
  .aside__module#mod_login label {
    line-height: 18px;
    padding: 0;
    margin: 0;
  }
  .aside__module#mod_login input[type="text"], .aside__module#mod_login input[type="password"] {
    margin: 2px 0 8px;
  }
  .aside__module#mod_login .clear {
    display: none;
  }
  .aside__module#mod_calendar2 .caption_nav_prev {
    left: 0;
  }
  .aside__module#mod_calendar2 .caption_nav_next {
    right: 0;
  }
  .aside__module#mod_calendar2 table {
    width: 100%;
    transform: none;
  }
  .aside__module#mod_calendar2 table th, .aside__module#mod_calendar2 table td {
    line-height: 24px;
    height: 24px;
  }
  .aside__module#mod_calendar2 table th a, .aside__module#mod_calendar2 table td a {
    height: 24px;
  }
  .aside__module#mod_questionnaire ul label {
    width: 185px;
  }
  .aside__menu {
    background-image: none;
    transform: translateX(-20px);
    width: 240px;
  }
  .aside__menu li a:after {
    width: calc(100% - 6px);
  }
  .aside__menu ul li a {
    background-size: contain !important;
    font-size: 1.4rem;
    line-height: 18px;
    padding: 13px 8px;
  }
}

@media (min-width: 992px) {
  .aside__module {
    height: auto !important;
  }
  .aside__module .aside__content {
    height: auto !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .aside__module:after {
    left: 50%;
    transform: translateX(-50%);
    top: 45px !important;
  }
  .aside__module#mod_forum .aside__content > span {
    display: block;
  }
  .aside__module#mod_forum .aside__content > span.bolder {
    display: none;
  }
  .aside__module#mod_login .aside__content:before {
    display: none;
  }
  .aside__module#mod_login form {
    transform: translateY(-95px);
  }
  .aside__module#mod_login .user-avatar {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
  }
  .aside__module#mod_login .user-avatar:after {
    content: '';
    position: absolute;
    width: 100px;
    left: calc(50% - 50px);
    right: 0;
    bottom: -28px;
    height: 1px;
    display: block;
    background-color: #e59a3e;
  }
  .aside__module#mod_calendar2 .aside__content, .aside__module#mod_weather .aside__content, .aside__module#mod_questionnaire .aside__content {
    margin-top: 0;
  }
  .aside__module#mod_calendar2 .aside__content:before, .aside__module#mod_weather .aside__content:before, .aside__module#mod_questionnaire .aside__content:before {
    display: none;
  }
  .aside__module#mod_calendar2:after, .aside__module#mod_weather:after, .aside__module#mod_questionnaire:after {
    display: none;
  }
  .aside__module#mod_calendar .clock-container {
    top: -100px;
    right: 50%;
    transform: translateX(50%);
  }
  .aside__module#mod_calendar .clock-container svg {
    transform: translateY(9px);
  }
  .aside__module#mod_questionnaire .aside__content {
    text-align: left;
  }
  .aside__module#mod_questionnaire ul label {
    width: 300px;
  }
  .aside__content {
    margin: 95px auto 0;
    max-width: 300px;
    position: relative;
    text-align: center;
  }
  .aside__content:before {
    content: '';
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    right: 0;
    top: -15px;
    height: 1px;
    display: block;
    background-color: #e59a3e;
  }
}

@media (max-width: 991px) {
  .aside {
    height: auto !important;
    background-image: none;
  }
  .aside__modules {
    width: 100%;
    transform: none;
    display: block;
  }
  .aside__modules > div {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    max-width: 47%;
  }
  .aside__modules > div:nth-child(odd) {
    margin-right: 2.5%;
  }
  .aside__modules > div:nth-child(even) {
    margin-left: 2.5%;
  }
  .aside__module h2 {
    left: 50%;
    transform: translateX(-50%);
  }
  .aside__module#mod_forum br {
    display: none;
  }
  .aside__module#mod_calendar2 table th, .aside__module#mod_calendar2 table td {
    line-height: 33px;
    height: 33px;
  }
  .aside__module#mod_calendar2 table th a, .aside__module#mod_calendar2 table td a {
    height: 33px;
  }
  .aside__menu {
    margin: 0 auto 30px;
    width: 263px;
    transform: none;
  }
  .aside__menu h2 {
    margin: 0;
  }
  .aside__menu ul li {
    margin-top: 0;
  }
  .aside__menu ul li a {
    background-size: auto !important;
  }
  .aside__menu ul li a.font--small {
    line-height: 16px;
  }
  .aside__holder {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .aside__modules {
    display: block;
  }
  .aside__modules > div {
    display: block;
    width: 100%;
    max-width: 360px;
  }
  .aside__modules > div:nth-child(odd), .aside__modules > div:nth-child(even) {
    margin: 50px auto;
  }
  .aside__module {
    height: auto !important;
  }
  .aside__module#mod_jokes:after, .aside__module#mod_video:after, .aside__module#mod_gallery:after {
    top: 30px;
  }
  .aside__module#mod_forum br {
    display: block;
  }
  .aside__module#mod_questionnaire ul label {
    width: 300px;
  }
  .aside__module .aside__content {
    height: auto !important;
  }
}

@media (max-width: 400px) {
  .aside__module#mod_questionnaire ul label {
    width: 250px;
  }
}

.FBLike iframe, .Tweet iframe {
  margin: 5px 0 0;
}

.files-header, .gallery-header {
  margin: 5px 0 15px;
}

.user-name a {
  text-decoration: underline;
}

.user-name a:hover {
  text-decoration: none;
}

.skip-links {
  position: absolute;
  top: 0;
  width: 200px;
}

.skip-links a, .skip-links a:visited {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skip-links a:focus, .skip-links a:hover, .skip-links a:active, .skip-links a:visited:focus, .skip-links a:visited:hover, .skip-links a:visited:active {
  left: 0;
  background-color: #a8d2c6;
  border: 2px solid #e7a2a1;
  opacity: 1;
  outline: none;
}

.msgError:empty {
  display: none;
}

.dropdown-backdrop {
  display: none;
}

#cookiesMsgWrap {
  border-top: 1px solid #3a9d0c !important;
  color: #7e2705 !important;
  background: #fff !important;
  font-family: 'Droid Sans', sans-serif !important;
}

#cookiesMsgWrap a {
  color: #3a9d0c !important;
}

#cookiesMsgWrap a:hover {
  text-decoration: underline !important;
}

.search-list h3 {
  color: #3a9d0c;
}

.search-list h3 a {
  color: currentColor;
}

.search-lead {
  border-bottom: 1px dashed #e59a3e;
  padding-bottom: 15px;
}

.search-lead:empty {
  display: none;
}

.search-text {
  margin-bottom: 15px;
}

#cookiesMsg {
  width: 100% !important;
  max-width: 900px !important;
  padding: 0 25px !important;
  color: #7e2705 !important;
  background: #fff !important;
  font-family: 'Droid Sans', sans-serif !important;
}

#cookiesMsg a {
  color: #3a9d0c !important;
}

#cookiesMsg a:hover {
  text-decoration: underline !important;
}

#advertsTopWrapper {
  margin: 40px 0 0;
  text-align: center;
}

.advertTop {
  color: #7e2705;
  margin: 10px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.advertTop img {
  max-width: 700px;
  width: auto !important;
  height: auto !important;
  margin: 5px auto 0;
  display: block;
}

.advertTop table {
  margin: 0 auto;
  border-collapse: collapse;
}

.advertTop table th, .advertTop table td {
  padding: 3px;
  border: 1px solid #7e2705;
}

.advertTop p {
  color: #7e2705;
  margin: 10px 0;
}

#advertsLeftContent {
  position: relative;
  padding: 40px 5px;
}

.files-wrapper {
  padding-bottom: 15px;
}

.files-wrapper a {
  color: #7e2705;
}

.files-wrapper ul {
  list-style-type: none !important;
  padding-left: 0 !important;
}

.authorName {
  margin-bottom: 10px;
}

.advertLeft {
  color: #fff;
  position: relative;
  z-index: 3;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.advertLeft table {
  margin: 0 auto;
  border-collapse: collapse;
}

.advertLeft table th, .advertLeft table td {
  padding: 3px;
  border: 1px solid #fff;
}

.advertLeft p {
  color: #fff;
  margin: 10px 0;
}

.advertLeft img {
  width: 190px !important;
  height: auto;
  margin: 0 auto;
  display: block;
}

#advertsLeftWrapper div {
  margin: 10px auto;
  text-align: center;
}

.gallery__image--path {
  fill: #4c0b00;
}

.gallery {
  font-size: 0;
}

.gallery > li {
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: top;
  float: none;
  margin: 0 0 15px;
  text-align: center;
}

.gallery > li > a {
  text-decoration: none;
  color: #7e2705;
  display: inline-block;
}

.gallery > li > a.photo > svg {
  width: 262px;
  height: 181px;
}

.gallery > li > a:hover, .gallery > li > a:focus {
  color: #3a9d0c;
  text-decoration: none;
  transform: rotate(3deg);
}

.photo-name {
  text-align: left;
  padding: 2px 5px;
}

.no-outline {
  outline: none !important;
}

a:focus, button:focus, input:focus, .menu-top .navbar-toggle:focus, .dropdown-toggle:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.keyboard-outline {
  outline: 2px solid red !important;
  outline-offset: 2px !important;
}

#content_txt:before, #content_txt:after {
  content: " ";
  display: table;
}

#content_txt:after {
  clear: both;
}

#content_txt .label {
  color: inherit;
}

#content_txt h2 {
  color: #7e2705;
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 30px;
  padding: 0 0 15px;
  border-bottom: 1px solid #e59a3e;
  margin: 20px 0 35px;
}

#content_txt table {
  margin: 10px 0;
}

#content_txt table caption {
  font-weight: bold;
}

#content_txt .questionnaire .clearfix {
  display: none;
}

#welcome, .main-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#welcome h1, #welcome h2, #welcome h3, #welcome h4, #welcome h5, #welcome h6, .main-text h1, .main-text h2, .main-text h3, .main-text h4, .main-text h5, .main-text h6 {
  color: #7e2705;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

#welcome h2, .main-text h2 {
  padding: 0;
  border-bottom: 0;
  line-height: 1.1;
  margin-bottom: 10px;
}

#welcome h5, .main-text h5 {
  font-size: 1.7rem;
}

#welcome h6, .main-text h6 {
  font-size: 1.6rem;
}

#welcome a, .main-text a {
  text-decoration: underline;
}

#welcome a:hover, .main-text a:hover {
  text-decoration: none;
}

#welcome ul, .main-text ul {
  list-style-type: disc;
  list-style-position: inside;
}

#welcome table, .main-text table {
  table-layout: fixed;
  border-collapse: collapse;
}

#welcome table caption, .main-text table caption {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Droid Sans';
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border: 1px solid #7e2705;
  border-bottom-width: 0;
  color: #7e2705;
}

#welcome table th, #welcome table td, .main-text table th, .main-text table td {
  border: 1px solid #7e2705;
  padding: 5px;
}

.sitemap {
  list-style-type: circle;
  display: block;
  padding: 0 0 0 15px;
  margin: 0;
}

.sitemap a {
  padding: 3px 0;
  display: inline-block;
  color: #7e2705;
}

.sitemap a:hover {
  color: #3a9d0c;
  text-decoration: underline;
}

.skip-links {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 999;
}

.skip-links a,
.skip-links a:visited {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  color: #7e2705;
  width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.Tweet, .FBLike {
  float: left;
}

.skip-links a:focus,
.skip-links a:hover,
.skip-links a:active,
.skip-links a:visited:focus,
.skip-links a:visited:hover,
.skip-links a:visited:active,
.skip-links a.keyboard-outline {
  left: 0;
  background-color: #fff !important;
  border: 2px solid #7e2705;
  opacity: 1;
  outline: none !important;
}

#jokes {
  margin: 0;
  padding: 0;
}

#jokes li {
  border-bottom: 1px solid #3a9d0c;
  margin-bottom: 10px;
}

#jokes p {
  margin: 0;
}

#jokes .jokeText {
  margin: 20px 0 10px;
}

#jokes .jokeNick {
  border-top: 1px dashed #3a9d0c;
  font-size: 1.2rem;
  padding: 3px 0;
}

.txtMessage iframe ~ small {
  display: block;
  text-align: center;
}

.txtMessage iframe ~ small a {
  color: #484848 !important;
  text-decoration: underline !important;
}

.txtMessage iframe ~ small a:hover {
  text-decoration: none !important;
}

.main-header {
  color: #7e2705;
  display: block;
  border-bottom: 1px solid #e59a3e;
  padding: 0 0 15px;
  margin: 40px 0;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 28px;
}

#flashclock {
  display: none;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: transparent;
}

iframe ~ small > a {
  display: block;
  text-align: center !important;
  color: #7e2705 !important;
}

.keyboard-outline {
  outline: 2px solid red !important;
  outline-offset: 2px !important;
  text-decoration: none !important;
}

.qAnswer {
  font-size: 1.3rem;
  width: calc(100% - 80px);
}

.qPercent {
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
  transform: translateY(-24px);
  color: #daad53;
  font-weight: 700;
  font-size: 3rem;
  line-height: 32px;
}

.board h1, .board h2, .board h3, .board h4, .board h5, .board h6 {
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.board h5 {
  font-size: 1.7rem;
}

.board h6 {
  font-size: 1.6rem;
}

.board ul {
  list-style-type: disc;
  list-style-position: inside;
}

.board table {
  color: #fff;
  margin: 10px 0;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #fff;
}

.board table caption {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Droid Sans';
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border: 1px solid #fff;
  border-bottom-width: 0;
  color: #fff;
}

.board table td, .board table th {
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: 'Droid Sans';
  font-weight: normal;
}

.board table th {
  background: transparent;
  padding: 5px;
}

.board blockquote {
  font-size: 1.3rem;
  border-left: 3px solid #fff;
  margin: 0;
  padding: 5px;
}

.board a {
  text-decoration: underline;
}

.board a:hover {
  text-decoration: none !important;
}

.qBar {
  background: #daad53;
  height: 4px;
  margin: 8px 0 15px 0;
}

#crumbpath {
  margin-top: 30px;
}

#crumbpath:before, #crumbpath:after {
  content: " ";
  display: table;
}

#crumbpath:after {
  clear: both;
}

#crumbpath i {
  display: none;
}

#crumbpath .here, #crumbpath ol {
  float: left;
}

#crumbpath a {
  text-decoration: none;
  color: #484848;
}

#crumbpath a:hover {
  text-decoration: underline;
}

#crumbpath ol {
  margin-left: 5px;
}

#crumbpath ol li {
  position: relative;
  padding: 0 12px;
}

#crumbpath ol li:not(:last-child):after {
  position: absolute;
  right: -4px;
  top: 0;
  content: '>';
}

.table-responsive {
  border: 0;
}

#welcome {
  margin-bottom: 15px;
}

.timetable ul li a {
  color: #7e2705;
}

.timetable ul li a:hover {
  color: #3a9d0c;
}

.timetable table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #7e2705;
}

.timetable table th, .timetable table td, .timetable table caption {
  padding: 5px;
  border: 1px solid #7e2705;
}

.timetable table caption {
  background-color: #7e2705;
  color: #fff;
  border-bottom: 0;
}

.timetable table p {
  margin: -5px;
  padding: 5px;
  font-weight: 700;
  color: #fff;
  background-color: #e59a3e;
}

.cloud, .tree {
  position: absolute;
}

.tree--top {
  top: 94px;
  left: calc(50% - 644px);
}

.cloud--top1 {
  top: -5px;
  left: calc(50% - 187px);
}

.cloud--top2 {
  top: -5px;
  left: calc(50% - 613px);
}

#fancybox-wrap + svg {
  display: none;
}

.base--button {
  position: relative;
  display: inline-block;
  transition: all .3s ease;
}

.base--button > *:not(svg) {
  position: relative;
  z-index: 3;
  margin: 0;
  padding: 10px 14px 14px 20px;
  font-size: 1.6rem;
  line-height: 19px;
  text-shadow: 0px 2px 2px rgba(88, 28, 6, 0.1);
  color: #7e2705;
  font-weight: 700;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.base--button svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.base--button svg:not(:first-of-type) {
  height: calc(100% - 3px);
  bottom: 3px;
}

.base--button input, .base--button a, .base--button button {
  transition: all .3s ease;
  text-decoration: none !important;
}

.base--button input:hover, .base--button a:hover, .base--button button:hover {
  text-decoration: none !important;
  color: #3a0000 !important;
}

.base--button input:focus, .base--button a:focus, .base--button button:focus {
  text-decoration: none !important;
}

.base--button:hover {
  transform: rotate(3deg);
}

.base--button:hover input, .base--button:hover a {
  text-decoration: none;
}

.base--button__shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#base-button-shadow {
  fill: #000;
}

.base--button__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  height: calc(100% - 3px);
  bottom: 3px;
  z-index: 2;
}

#base-button-background {
  fill: #ca945e;
}

@media (max-width: 1199px) {
  #advertsLeftContent {
    width: calc(100% + 20px);
    transform: translateX(-18px);
  }
  .tree--core {
    left: 102px !important;
  }
  .cloud--top1 {
    left: calc(50% - 87px);
  }
  .cloud--top2 {
    left: calc(50% - 503px);
  }
}

@media (max-width: 991px) {
  .cloud, .tree, .tree--core {
    display: none;
  }
  #crumbpath {
    margin-top: 0;
  }
  #advertsLeftContent {
    width: calc(100% + 30px);
    transform: translateX(-15px);
  }
}

@media (max-width: 767px) {
  .gallery > li {
    max-width: 360px;
    width: 100%;
    display: block;
    margin: 25px auto;
  }
}

@media (max-width: 730px) {
  .advertTop img {
    max-width: 100%;
  }
}

.article {
  position: relative;
  margin: 0 0 40px;
}

.article:before, .article:after {
  content: " ";
  display: table;
}

.article:after {
  clear: both;
}

.article h4 {
  color: #3a9d0c;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 20px 0 30px;
}

.article h4 a {
  transition: color .3s ease;
  color: #3a9d0c;
  position: relative;
}

.article h4 a:hover {
  color: #7e2705;
  text-decoration: none;
}

.article h4 a svg {
  fill: #3a9d0c;
}

.article a {
  color: #484848;
}

.article .article__more {
  color: #3a9d0c;
}

.article--highlighted {
  background-repeat: no-repeat;
  background-size: 100% 94%;
  background-position: center center;
  background-image: url("../images/article/article-highlighted.svg");
}

.article--highlighted h4 {
  color: #7e2705;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
}

.article--highlighted h4 a {
  color: #7e2705;
}

.article--highlighted h4 a:hover {
  color: #076a00;
}

.article--highlighted h4 a svg {
  fill: #7e2705;
}

.article--highlighted .article__content h4 {
  margin-top: 15px;
}

.article--highlighted .article__more {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
  color: #7e2705;
}

.article--highlighted .article__more > div {
  background-color: #7e2705;
}

.article--highlighted .article__more:hover > div {
  background-color: #3a9d0c;
}

.article__image--path {
  fill: #4c0b00;
}

.article__image {
  float: left;
  position: relative;
  width: 360px;
  transition: all .3s ease;
}

.article__image:before, .article__image:after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 9px;
  background-image: url("../images/dot.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 3;
}

.article__image:before {
  top: 6px;
  left: 1px;
}

.article__image:after {
  bottom: 14px;
  right: 6px;
}

.article__image:hover {
  transform: rotate(3deg) scale(0.95);
}

.article__image + .article__content {
  float: left;
  width: calc(100% - 360px);
  padding: 25px 17px 50px 35px;
}

.article__image + .article__content h4 {
  width: 100%;
}

.article__image + .article__content h4 a svg {
  position: absolute;
  left: -12px;
  top: 5px;
}

.article__image + .article__content .article__date {
  left: 262px;
  top: 14px;
}

.article__date {
  background-image: url("../images/article/article-date.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  text-align: center;
  width: 103px;
  height: 42px;
  right: 0;
  left: auto;
}

.article__date span {
  color: #7e2705;
  font-size: 1.3rem;
  line-height: 39px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
  position: relative;
  z-index: 2;
}

.article__more {
  font-size: 1.3rem;
  line-height: 15px;
  font-weight: bold;
  transition: all .3s ease;
  line-height: 25px;
}

.article__more > div {
  background-color: #3a9d0c;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 0 10px 0 0;
  line-height: 23px;
}

.article__more > div svg {
  fill: #fff;
}

.article__more:hover {
  text-decoration: none;
}

.article__more:hover > div {
  background-color: #7e2705;
}

.article__more:focus {
  text-decoration: none;
}

.article__content {
  padding: 25px;
}

.article__content a {
  color: #3a9d0c;
  text-decoration: underline;
}

.article__content a:hover {
  text-decoration: none;
}

.article__content .article__more {
  text-decoration: none;
}

.article__content .article__more:hover {
  text-decoration: underline;
}

.article__content h2 {
  margin: 0;
}

.article__content h4 {
  width: calc(100% - 120px);
  margin-top: 0;
}

.article__content h4 a {
  text-decoration: none;
}

@media (max-width: 1199px) {
  .article__image + .article__content {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .article {
    margin: 0 0 20px;
    border: 1px dashed #e59a3e;
  }
  .article h4 {
    margin: 0 0 15px !important;
  }
  .article--highlighted {
    border: 0;
    background-image: none;
    background-color: #e59a3e;
  }
  .article__image {
    display: block;
    margin: 10px auto 0;
    float: none;
  }
  .article__image + .article__content {
    width: 100%;
    padding: 25px;
  }
  .article__image + .article__content .article__date {
    right: auto;
    left: 50%;
    top: 232px;
    transform: translateX(-50%);
  }
  .article__image + .article__content h4 {
    width: calc(100% - 120px);
  }
  .article__image + .article__content h4 a svg {
    position: static;
  }
  .article__date {
    right: 25px;
    top: 14px;
  }
  .article__content {
    padding: 25px;
  }
}

@media (max-width: 479px) {
  .article h4 {
    width: 100%;
  }
  .article__content {
    padding-top: 10px;
  }
  .article__image + .article__content {
    padding-top: 10px;
  }
  .article__image + .article__content h4 {
    width: 100%;
  }
  .article__image + .article__content .article__date {
    position: absolute;
    right: auto;
    left: 50%;
    top: 232px;
    transform: translateX(-50%);
  }
  .article__date {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 0 10px;
  }
}

@media (max-width: 420px) {
  .article__image {
    width: 280px;
  }
  .article__image svg {
    width: 280px;
    height: 193.08px;
  }
  .article__image + .article__content .article__date {
    top: 177px;
  }
}

.pagination {
  margin: 60px 0 80px;
}

.pagination ul li {
  display: inline-block;
  width: 38px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  overflow: hidden;
  position: relative;
  font-weight: bold;
  font-size: 1.3rem;
}

.pagination ul li > a {
  background-size: 100% 100%;
  border: 1px solid transparent;
  background-image: url("../images/pagination/pagination-shadow.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #7e2705;
  height: 39px;
  position: absolute;
  width: 38px;
  display: block;
  transition: all .3s ease;
  text-decoration: none;
}

.pagination ul li > a.pagination__first, .pagination ul li > a.pagination__prev {
  background-image: url("../images/pagination/pagination-shadow-prev.svg");
}

.pagination ul li > a.keyboard-outline {
  border-width: 2px !important;
  border-color: red !important;
}

.pagination ul li > a:hover {
  transform: rotate(6deg);
  color: #3a0000;
  text-decoration: none;
}

.pagination ul li > a:focus {
  text-decoration: none;
}

.pagination ul li svg:not(.pagination__sign) {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.pagination ul li .pagination__sign {
  display: block;
  position: relative;
  margin: 9px auto 0;
  z-index: 2;
  height: 18px;
}

.pagination ul li span {
  position: relative;
  line-height: 39px;
  z-index: 2;
}

.pagination ul li span.sr-only {
  position: absolute;
}

.pagination ul li .pagination__first {
  background-size: 100% 100%;
  background-image: url("../images/pagination/pagination-shadow.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.pagination ul li .pagination__first .pagination__sign {
  transform: rotate(180deg);
}

.pagination ul li.pagination__page--active span {
  color: #ffc45c;
  position: relative;
  line-height: 39px;
  z-index: 2;
}

.pagination ul li.pagination__page--active span.sr-only {
  position: absolute;
}

.pagination ul li.pagination__page--active > div {
  height: 39px;
  position: absolute;
  width: 38px;
}

.pagination ul li.pagination__page--active svg path {
  fill: #471100;
}

.pagination ul li:before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 9px;
  background-image: url("../images/dot.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 2px;
  right: 3px;
  z-index: 4;
}

.pagination__svg--path {
  fill: #ca945e;
}

.pagination__first--path, .pagination__prev--path, .pagination__next--path, .pagination__last--path {
  fill: #7e2705;
}

.pagination__sign--short {
  width: 12px;
}

.pagination__sign--long {
  width: 16px;
}

@media (max-width: 991px) {
  .pagination {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .pagination {
    width: 100%;
  }
  .pagination ul {
    text-align: center;
  }
}

.form .group {
  max-width: 530px;
  margin: 10px 0;
}

.form .group:before, .form .group:after {
  content: " ";
  display: table;
}

.form .group:after {
  clear: both;
}

.form label {
  width: 180px;
  float: left;
  line-height: 32px;
  display: block;
  text-align: left;
}

.form label > * {
  line-height: 32px;
}

.form p {
  margin: 0;
}

.form input[type="text"], .form input[type="email"], .form input[type="password"], .form textarea {
  width: calc(100% - 180px);
  float: left;
  max-width: 350px;
}

.form textarea {
  resize: none;
  font-size: 1.6rem;
  height: 140px;
}

.form .button-wrapper {
  margin-left: 180px;
}

.form .msgMarg {
  display: none;
}

.form .msgMarg.msgError {
  display: block;
}

.form .msgError {
  width: calc(100% - 180px);
  float: right;
}

.form .radio {
  margin: 0;
  height: 32px;
  position: relative;
}

.form .radio:before, .form .radio:after {
  content: " ";
  display: table;
}

.form .radio:after {
  clear: both;
}

.form input[type="radio"] {
  position: absolute;
  margin: 8px 0 0 2px;
  left: 180px;
  top: 0;
}

.form input[type="radio"] + label {
  padding: 0 0 0 26px;
  color: inherit;
  position: relative;
}

.form input[type="radio"] + label:before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid #d8aa51;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
}

.form input[type="radio"] + label:after {
  content: '';
  position: absolute;
  display: none;
  top: 12px;
  left: 5px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #84220b;
}

.form input[type="radio"]:checked + label:after {
  display: block;
}

.form .upload input[type="text"] {
  margin-bottom: 10px;
}

.form .upload .button-wrapper + input {
  display: none;
}

.form .form__delete {
  margin-left: 10px;
}

#avatar_f {
  display: none;
}

.txt_com, .txt_msg {
  border: 1px solid #3a9d0c;
  color: #3a9d0c;
  padding: 15px 15px 15px 72px;
  margin: 0 0 10px;
  position: relative;
  display: block;
}

.txt_com:before, .txt_msg:before {
  content: 'i';
  font-family: sans-serif;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  left: 15px;
  text-align: center;
  line-height: 24px;
  font-size: 2rem;
  display: inline-block;
  border: 1px solid #3a9d0c;
}

.txt_com a, .txt_msg a {
  color: #3a9d0c;
  text-decoration: underline;
}

.txt_com a:hover, .txt_msg a:hover {
  text-decoration: none;
}

.msgError, .txt_err, .attention {
  border: 1px solid #7e2705;
  padding: 15px 15px 15px 72px;
  position: relative;
  display: block;
  color: #7e2705;
  margin: 10px 0;
}

.msgError:before, .txt_err:before, .attention:before {
  content: '!';
  border: 1px solid #7e2705;
  font-family: sans-serif;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: absolute;
  top: calc(50% - 13px);
  left: 15px;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
  display: inline-block;
}

.msgError a, .txt_err a, .attention a {
  color: #7e2705;
  text-decoration: underline;
}

.msgError a:hover, .txt_err a:hover, .attention a:hover {
  text-decoration: none;
}

.form--newsletter h3 {
  color: #7e2705;
}

@media (max-width: 479px) {
  .form label {
    line-height: 20px;
    padding: 0 0 5px;
  }
  .form label, .form input[type="text"], .form input[type="email"], .form input[type="password"], .form textarea, .form .msgError {
    width: 100%;
    max-width: 100%;
  }
  .form .button-wrapper {
    margin-left: 0;
  }
  .form .radio {
    height: auto;
  }
  .form input[type="radio"] {
    display: none;
  }
  .form input[type="radio"] + label:before {
    top: 0;
  }
  .form input[type="radio"] + label:after {
    top: 5px;
  }
}

.forum__actions {
  padding: 0;
  margin: 0 0 5px;
  display: block;
}

.forum__actions:before, .forum__actions:after {
  content: " ";
  display: table;
}

.forum__actions:after {
  clear: both;
}

.forum__actions li {
  display: block;
  float: left;
}

.forum__actions li:not(:last-child) {
  margin-right: 15px;
}

.forum-threads-wrapper {
  padding: 5px;
  margin: 5px 0;
}

.forum-wrapper a {
  font-weight: bold;
}

.forum__topics {
  width: 100%;
  color: #484848;
  border-collapse: collapse;
  border: 1px solid #7e2705;
}

.forum__topics a {
  color: #484848;
}

.forum__topics p {
  margin: 0;
}

.forum__topics th {
  text-align: left;
}

.forum__topics th.titles {
  width: 80%;
}

.forum__topics th.topics {
  width: 10%;
}

.forum__topics th.responds {
  width: 10%;
}

.forum__topics td a span, .forum__topics td a p {
  margin: 0;
  display: block;
}

.forum__topics th, .forum__topics td {
  padding: 5px;
  border: 1px solid #7e2705;
}

.listPosts {
  margin: 0;
  padding: 0;
  display: block;
}

.listPosts > li {
  display: block;
  border-bottom: 1px dashed #e59a3e;
}

.postText, .topicText {
  display: block;
}

.postText:before, .postText:after, .topicText:before, .topicText:after {
  content: " ";
  display: table;
}

.postText:after, .topicText:after {
  clear: both;
}

.topicText {
  margin: 20px 0 0;
}

.topicText + .respondButtonList {
  border-bottom: 1px dashed #e59a3e;
}

.postAuthor, .topicAuthor {
  padding: 15px;
  width: 200px;
  float: left;
}

.postAuthor > *, .topicAuthor > * {
  display: block;
  margin: 0 auto 3px;
  text-align: center;
}

.postContent, .topicContent {
  width: calc(100% - 200px);
  float: left;
  padding: 15px 15px 40px;
  position: relative;
}

.postContent blockquote, .topicContent blockquote {
  font-size: 1.3rem;
  border-left: 3px solid #484848;
  margin: 0;
  padding: 5px;
}

.postContent .respondButtonList, .topicContent .respondButtonList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.postContent .respondButtonList a:before, .topicContent .respondButtonList a:before {
  border-bottom-color: #f0f0f0;
}

.respondButtonList {
  margin: 0;
  padding: 0 0 5px;
  width: 100%;
  display: block;
  text-align: right;
}

.respondButtonList:before, .respondButtonList:after {
  content: " ";
  display: table;
}

.respondButtonList:after {
  clear: both;
}

.respondButtonList li {
  display: inline-block;
  text-align: center;
  margin: 5px;
  font-size: 0;
}

.forum__topics--link {
  display: block;
}

.forum__topics--holder {
  overflow-x: auto;
  margin: 0 auto 20px;
}

@media (max-width: 639px) {
  .postText, .topicText {
    display: block;
  }
  .postAuthor, .topicAuthor {
    width: 100%;
    display: block;
    padding: 5px 15px;
    border-right: 0;
    border-bottom: 1px dashed #e59a3e;
  }
  .postAuthor > *, .topicAuthor > * {
    display: inline-block;
    margin: 0 5px 0 0;
  }
  .postContent, .topicContent {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .forumAvatarImage {
    display: none !important;
  }
  .respondButtonList .button-wrapper {
    padding: 0 25px 0 5px;
  }
  .respondButtonList .button-wrapper:after {
    display: none;
  }
}

.footer {
  padding: 50px 0 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 143px;
}

.footer:before {
  content: '';
  position: absolute;
  display: block;
  width: 38px;
  height: calc(100% + 50px);
  top: -50px;
  left: calc(50% - 459px);
  pointer-events: none;
  background-image: url("../images/decorations/tree-core.png");
  background-repeat: repeat-y;
}

.footer p {
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 1.1rem;
  line-height: 13px;
  bottom: 20px;
  left: calc(50% - 515px);
  margin: 0;
}

.footer p a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.footer p a:hover, .footer p a:focus {
  color: #fff;
  text-decoration: underline;
}

.footer--gotop {
  display: none;
}

.footer__background {
  width: 1600px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  left: calc(50% - 800px);
  max-width: 1600px;
}

@media (max-width: 1199px) {
  .footer__background {
    left: calc(50% - 717px);
  }
  .footer:before {
    left: calc(50% - 390px);
  }
  .footer p {
    left: calc(50% - 425px);
  }
}

@media (max-width: 991px) {
  .footer__background, .footer {
    display: none;
  }
  .footer:before {
    display: none;
  }
  .footer--gotop {
    transition: all .3s ease;
    display: block;
    height: 80px;
    line-height: 80px;
    background-color: #7e2705;
    color: #fff;
    text-align: center;
  }
  .footer--gotop:hover {
    background-color: #a04927;
    color: #fff;
  }
}
