@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@font-face {
    font-family: 'chalk';
    src: url("../fonts/chalk.eot");
    src: local("☺"),
        url("../fonts/chalk.woff") format("woff"),
        url("../fonts/chalk.ttf") format("truetype"),
        url("../fonts/chalk.svg#chalk") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello.eot?4929588");
    src: url("../fonts/fontello.eot?4929588#iefix")format("embedded-opentype"),
         url("../fonts/fontello.woff2?4929588") format("woff2"),
         url("../fonts/fontello.woff?4929588") format("woff"),
         url("../fonts/fontello.ttf?4929588") format("truetype"),
         url("../fonts/fontello.svg?4929588#fontello") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-left-open-big:before {
    content: '\e800'
}
.icon-right-open-big:before {
    content: '\e801'
}
.icon-up-open-big:before {
    content: '\e802'
}
.icon-down-open-big:before {
    content: '\e803'
}
.icon-quote:before {
    content: '\e804'
}
.icon-calendar:before {
    content: '\e805'
}
.icon-emo-happy:before {
    content: '\e806'
}
.icon-cancel:before {
    content: '\e807'
}
.icon-clock:before {
    content: '\e808'
}
.icon-menu:before {
    content: '\e819'
}
.icon-font-default:before {
    content: '\e81b'
}
.icon-font-bigger:before {
    content: '\e81c'
}
.icon-font-biggest:before {
    content: '\e81d'
}
.icon-contrast:before {
    content: '\e81e'
}
.icon-protected:before {
    content: '\e81f'
}
.icon-search:before {
    content: '\e820'
}
.icon-doc-text-inv:before {
    content: '\f15c'
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body#tinymce {
    margin: 0;
    padding: 20px;
    background: #fff;
    font-family: 'Droid Sans', sans-serif;
    color: #343434;
    font-size: 14px;
}
body#tinymce ul li {
    list-style-type: disc;
    list-style-position: inside;
}
body#tinymce p {
    margin: 0 0 10px;
}
body#tinymce strong,
body#tinymce b {
    font-family: 'Droid Sans';
    font-weight: bold;
}
body#tinymce a,
body#tinymce a:link,
body#tinymce a:visited {
    color: #3a9d0c;
    outline: none;
    text-decoration: underline;
}
body#tinymce a:hover,
body#tinymce a:focus {
    text-decoration: none;
}
body#tinymce img {
    max-width: 100%;
    height: auto;
}
body#tinymce ul {
    list-style-type: disc;
    list-style-position: inside;
}
body#tinymce h1,
body#tinymce h2,
body#tinymce h3,
body#tinymce h4,
body#tinymce h5,
body#tinymce h6 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: #7e2705;
}
body#tinymce h1 {
    font-size: 36px;
}
body#tinymce h2 {
    font-size: 27px;
}
body#tinymce h3 {
    font-size: 24px;
}
body#tinymce h4 {
    font-size: 20px;
}
body#tinymce h5 {
    font-size: 18px;
}
body#tinymce h6 {
    font-size: 16px;
}
body#tinymce table {
    margin: 10px 0;
}
body#tinymce table {
    margin: 10px 0;
    border-collapse: collapse;
    border: 1px solid #7e2705;
}
body#tinymce table caption {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Droid Sans';
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border:  1px solid #7e2705;
    border-bottom-width: 0;
    color: #7e2705;
}
body#tinymce table th,
body#tinymce table td {
    border: 1px solid #7e2705;
    padding: 5px;
    font-size: 14px;
    font-family: 'Droid Sans';
    font-weight: normal;
}
body#tinymce table th:first-child {
    border: none;
}
body#tinymce blockquote {
    font-size: 17px;
    border-left: 3px solid #eee;
    margin: 0;
    padding: 5px;
}
body#tinymce cite {
    font-style: normal;
    color: #ccc;
    border: none;
}