.article {
	@include clearfix();
	position: relative;
	margin: 0 0 40px;
	h4 {
		color: $color1;
		font-weight: bold;
		font-size: 1.8rem;
		line-height: 20px;
		letter-spacing: 0.2px;
		margin: 20px 0 30px;
		a {
			transition: color .3s ease;
			color: $color1;
			position: relative;
			&:hover {
				color: $color2;
				text-decoration: none;
			}
			svg {
				fill: $color1;
			}
		}
	}
	a {
		color: $basic;
	}
	.article__more {
		color: $color1;
	}
}
.article--highlighted {
	background-repeat: no-repeat;
	background-size: 100% 94%;
	background-position: center center;
	background-image: url('../images/article/article-highlighted.svg');
	h4 {
		color: $color2;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
		a {
			color: $color2;
			&:hover {
				color: $color1 - #333;
			}
			svg {
				fill: $color2;
			}
		}
	}
	.article__content {
		h4 {
			margin-top: 15px;
		}
	}
	.article__more {
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
		color: $color2;
		& > div {
			background-color: $color2;
		}
		&:hover {
			& > div {
				background-color: $color1;
			}
		}
	}
}
.article__image--path {
	fill: #4c0b00;
}
.article__image {
	float: left;
	position: relative;
	width: 360px;
	transition: all .3s ease;
	&:before, &:after {
		@include dot();
		z-index: 3;
	}
	&:before {
		top: 6px;
		left: 1px;
	}
	&:after {
		bottom: 14px;
		right: 6px;
	}
	&:hover {
		transform: rotate(3deg) scale(0.95);
	}
	& + .article__content {
		float: left;
		width: calc(100% - 360px);
		padding: 25px 17px 50px 35px;
		h4 {
			width: 100%;
			a {
				svg {
					position: absolute;
					left: -12px;
					top: 5px;
				}
			}
		}
		.article__date {
			left: 262px;
			top: 14px;
		}
	}
}
.article__date {
	background-image: url('../images/article/article-date.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	text-align: center;
	width: 103px;
	height: 42px;
	right: 0;
	left: auto;
	span {
		color: $color2;
		font-size: 1.3rem;
		line-height: 39px;
		font-weight: bold;
  		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
		position: relative;
		z-index: 2;
	}
}
.article__more {
	font-size: 1.3rem;
	line-height: 15px;
	font-weight: bold;
	transition: all .3s ease;
	line-height: 25px;
	& > div {
		background-color: $color1;
		width: 23px;
		height: 23px;
		border-radius: 50%;
		display: inline-block;
		text-align: center;
		margin: 0 10px 0 0;
		line-height: 23px;
		svg {
			fill: #fff;
		}
	}
	&:hover {
		text-decoration: none;
		& > div {
			background-color: $color2;
		}
	}
	&:focus {
		text-decoration: none;
	}
}
.article__content {
	padding: 25px;
	a {
		color: $color1;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.article__more {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	h2 {
		margin: 0;
	}
	h4 {
		width: calc(100% - 120px);
		margin-top: 0;
		a {
			text-decoration: none;
		}
	}
}
@media (max-width: 1199px) {
	.article__image {
		& + .article__content {
			padding-left: 20px;
		}
	}
}
@media (max-width: 767px) {
	.article {
		margin: 0 0 20px;
		border: 1px dashed #e59a3e;
		h4 {
			margin: 0 0 15px !important;
		}
	}
	.article--highlighted {
		border: 0;
		background-image: none;
		background-color: #e59a3e;
	}
	.article__image {
		display: block;
		margin: 10px auto 0;
		float: none;
		& + .article__content {
			width: 100%;
			padding: 25px;
			.article__date {
				right: auto;
				left: 50%;
				top: 232px;
				transform: translateX(-50%);
			}
			h4 {
				width: calc(100% - 120px);
				a {
					svg {
						position: static;
					}
				}
			}
		}
	}
	.article__date {
		right: 25px;
		top: 14px;
	}
	.article__content {
		padding: 25px;
	}
}
@media (max-width: 479px) {
	.article {
		h4 {
			width: 100%;
		}
	}
	.article__content {
		padding-top: 10px;
	}
	.article__image {
		& + .article__content {
			padding-top: 10px;
			h4 {
				width: 100%;
			}
			.article__date {
				position: absolute;
				right: auto;
				left: 50%;
				top: 232px;
				transform: translateX(-50%);
			}
		}
	}
	.article__date {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		margin: 0 0 10px;
	}
}
@media (max-width: 420px) {
	.article__image {
		width: 280px;
		svg {
			width: 280px;
			height: 193.08px;
		}
		& + .article__content {
			.article__date {
				top: 177px;
			}
		}
	}
}