.aside {
	position: relative;
	background-image: url('../images/decorations/tree-core.png');
	background-size: 38px 100%;
	background-position: 126px 0;
	background-repeat: repeat-y;
}
.aside__holder {
	position: relative;
	z-index: 2;
	font-size: 1.3rem;
	line-height: 18px;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	h2 {
		position: relative;
		font-weight: 700;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
		color: $color2;
		&:before {
			@include dot();
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
		}
		&:before {
			left: 5px;
		}
		&:after {
			right: 5px;
		}
	}
}
.aside__menu-link--path {
	fill: #471100;
}
.aside__module {
	position: relative;
	margin: 0 0 45px;
	padding: 50px 15px 30px 20px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100px;
		bottom: -10px;
		left: 0;
		right: 0;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-image: url('../images/modules/aside-shadow.svg');
	}
	&:after {
		display: block;
		position: absolute;
		right: 10px;
		top: 40px;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 4;
	}
	& > div {
		position: relative;
		z-index: 2;
	}
	h2 {
		position: absolute;
		top: -42px;
		left: 0;
		width: 243px;
		height: 49px;
		z-index: 3;
		text-align: left;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-image: url('../images/modules/module-title.png');
		span {
			line-height: 48px;
			position: relative;
			z-index: 4;
			font-size: 2rem;
			padding: 0 25px;
		}
		&:before, &:after {
			display: none;
		}
	}
	&#mod_weather {
		color: #fff;
		text-align: center;
		font-size: 1.3rem;
		line-height: 16px;
		li {
			display: block;
			margin: 3px auto;
		}
	}
	&#mod_timetable {
		.aside__content {
			width: calc(100% - 100px);
		}
		&:after {
			content: '';
			background-image: url('../images/icons/timetable.png');
			width: 94px;
			height: 57px;
		}
	}
	&#mod_calendar {
		p {
			&:first-child {
				margin: 0 0 15px;
			}
			span {
				font-weight: 700;
			}
		}
		.aside__content {
			width: calc(100% - 100px);
		}
		.clock-container {
			position: absolute;
			top: 0;
			right: 10px;
			width: 76px;
			height: 76px;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url('../images/background-clock.png');
			background-position: center center;
			svg {
				width: 59px;
				height: 59px;
				transform: translateX(8px) translateY(9px);
			}
		}
	}
	&#mod_stats {
		.aside__content {
			width: calc(100% - 100px);
		}
		li {
			text-align: left;
		}
		.stats-txt {
			font-weight: 700;
		}
		&:after {
			content: '';
			background-image: url('../images/icons/stats.png');
			width: 87px;
			height: 51px;
		}
	}
	&#mod_programs {
		.aside__content {
			width: calc(100% - 100px);
		}
		&:after {
			content: '';
			background-image: url('../images/icons/programs.png');
			width: 82px;
			height: 63px;
		}
	}
	&#mod_kzk {
		.aside__content {
			width: calc(100% - 100px);
		}
		&:after {
			content: '';
			background-image: url('../images/icons/kzk.png');
			width: 77px;
			height: 80px;
		}
	}
	&#mod_menu {
		.aside__content {
			width: calc(100% - 100px);
		}
		&:after {
			content: '';
			background-image: url('../images/icons/menu.png');
			width: 102px;
			height: 51px;
		}
	}
	&#mod_jokes {
		.aside__content {
			width: calc(100% - 100px);
		}
		&:after {
			content: '';
			background-image: url('../images/icons/jokes.png');
			top: 30px;
			width: 60px;
			height: 61px;
		}
	}
	&#mod_video {
		.aside__content {
			width: calc(100% - 100px);
		}
		&:after {
			content: '';
			background-image: url('../images/icons/video.png');
			top: 30px;
			width: 76px;
			height: 76px;
		}
	}
	&#mod_gallery {
		.aside__content {
			width: calc(100% - 100px);
		}
		&:after {
			content: '';
			background-image: url('../images/icons/gallery.png');
			top: 30px;
			width: 99px;
			height: 83px;
		}
	}
	&#mod_contact {
		p {
			margin: 0;
		}
		.aside__content {
			width: calc(100% - 75px);
		}
		&:after {
			content: '';
			background-image: url('../images/icons/contact.png');
			width: 75px;
			height: 63px;
		}
		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&#mod_forum {
		.base--button {
			margin-top: 10px;
		}
		&:after {
			content: '';
			background-image: url('../images/icons/forum.png');
			top: 30px;
			width: 69px;
			height: 62px;
		}
		.bolder, #modForum {
			display: none;
		}
	}
	&#mod_location {
		.aside__content {
			width: calc(100% - 105px);
		}
		&:after {
			content: '';
			background-image: url('../images/icons/location.png');
			top: 30px;
			width: 101px;
			height: 56px;
		}
	}
	&#mod_login {
		legend {
			display: none;
		}
		label, input[type="text"], input[type="password"] {
			display: block;
			float: left;
		}
		input[type="text"], input[type="password"] {
			width: 160px;
		}
		label {
			padding: 0 0 0 10px;
			font-family: 'Droid Sans', sans-serif;
			line-height: 34px;
			width: calc(100% - 160px);
		}
		.clear {
			clear: both;
			height: 8px;
			display: block;
		}
		a[href="edytuj-konto"] {
			color: $color3;
		}
		.userAvatar {
			float: left;
			margin: 0 10px 10px 0;
		}
		.base--button {
			margin-top: 5px;
		}
	}
	&#mod_questionnaire {
		legend {
			display: none;
		}
		fieldset {
			margin: 0;
			padding: 0;
			width: 100%;
			border: 0;
		}
		.clearfix {
			display: none;
		}
		ul {
			font-size: 1.3rem;
			margin: 0 0 10px;
			padding: 0;
			li {
				display: block;
				&:not(:last-child) {
					margin: 0 0 4px;
				}
			}
			input[type="radio"] {
				position: absolute;
				transform: translateX(2px) translateY(-2px);
				&:checked {
					& + label {
						&:after {
							display: block;
						}
					}
				}
			}
			label {
				padding: 0 0 0 26px;
				color: inherit;
				position: relative;
				z-index: 2;
				width: 215px;
				&:before {
					content: '';
					width: 16px;
					height: 16px;
					border: 1px solid #d8aa51;
					background-color: #fff;
					display: block;
					border-radius: 50%;
					display: block;
					position: absolute;
					left: 0;
					top: 0;
				}
				&:after {
					content: '';
					position: absolute;
					display: none;
					top: 5px;
					left: 5px;
					border-radius: 50%;
					width: 6px;
					height: 6px;
					background-color: #84220b;
				}
				.radio {
					display: none;
				}
				.label {
					padding: 0;
					font-size: 1.3rem;
					text-align: left;
					border-radius: 0;
					white-space: normal;
				}
			}
		}
	}
	&#mod_newsletter {
		.aside__content {
			width: calc(100% - 100px);
		}
		&:after {
			content: '';
			background-image: url('../images/icons/newsletter.png');
			width: 82px;
			height: 63px;
		}
	}
	&#mod_calendar2 {
		table {
			width: 243px;
			margin: 40px auto 0;
			border-collapse: collapse;
			transform: translateX(-8px);
			position: relative;
			caption {
				position: absolute;
				width: 220px;
				left: 50%;
				transform: translateX(-50%);
				top: -40px;
				font-size: 1.6rem;
				line-height: 18px;
				padding: 0;
				font-weight: 700;
				text-align: center;
				color: #fff;
				text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
			}
			th, td {
				width: 33px;
				height: 33px;
				line-height: 33px;
				font-size: 1.3rem;
				text-align: center;
				a {
					display: block;
					height: 33px;
					color: inherit;
				}
			}
			th {
				background-color: $color3;
				color: $color2;
				border-left: 1px solid $color3;
				border-right: 1px solid $color3;
				text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
			}
			td {
				color: #fff;
				border-left: 1px solid #ffc45c;
				border-right: 1px solid #ffc45c;
				&.pr_day {
					background-color: #5d0c0c;
				}
				&.imp_day {
					background-color: $color3;
					color: $color2;
					text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
					&:hover {
						background-color: #5d0c0c;
						a {
							color: #fff;
							text-decoration: none;
						}
					}
				}
			}
		}
		#calendarNews {
			position: relative;
			& > div:not(#calendarNews) {
				position: absolute;
				top: -48px;
				width: 38px;
				height: 39px;
				z-index: 2;
				a {
					display: block;
					height: 39px;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					i {
						display: none;
					}
					&:hover {
						transform: rotate(6deg);
					}
				}
			}
			.caption_nav_prev {
				left: -5px;
				a {
					background-image: url('../images/modules/calendar-left.png');
				}
			}
			.caption_nav_next {
				right: -5px;
				a {
					background-image: url('../images/modules/calendar-right.png');
				}
			}
		}
	}
}
.aside__modules {
	margin: 40px 0 0;
	& > div {
		&:nth-child(even) {
			.aside__background--dark {
				display: none;
			}
		}
		&:nth-child(odd) {
			.aside__background--light {
				display: none;
			}
		}
	}
}
.aside__background--shadow {
	position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 100%;
    path {
    	fill: #471100;
    }
}
.aside__background--module {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	path {
		fill: #471100;
	}
}
.aside__background--title {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.aside__menu {
	background-image: url('../images/decorations/tree-core.png');
	background-size: 38px 100%;
	background-position: 111px 0;
	background-repeat: repeat-y;
	width: 263px;
	span {
		position: relative;
		z-index: 2;
	}
	li a {
		word-wrap: break-word;
		overflow-wrap: break-word;
		position: relative;
		&:before {
			@include dot();
			top: 5px;
			left: calc(50% - 5px);
			z-index: 2;
		}
		&:after {
			content: '';
			display: block;
			background-image: url('../images/aside/aside-menu-link-shadow.svg');
			background-repeat: no-repeat;
			background-position: bottom center;
			position: absolute;
			background-size: cover;
			transform: rotate(1deg);
			width: 100%;
			height: 8px;
			bottom: -1px;
			left: 1px;
			right: 0;
			z-index: 0;
		}
		svg {
			z-index: 1;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 1px;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	h2 {
		position: relative;
		background-size: 100% 88%;
		text-align: center;
		font-size: 2rem;
		line-height: 24px;
		font-weight: bold;
		margin: 11px 0 0;
		padding: 12px 2px;
		color: $color2;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
		span {
			display: inline-block;
			position: relative;
			z-index: 2;
			transform: translateY(-6%);
		}
		&:before {
			left: calc(50% - 5px);
			top: 6px;
		}
		&:after {
			content: '';
			display: block;
			background-image: url('../images/aside/aside-menu-title-shadow.svg');
			background-repeat: no-repeat;
			background-position: bottom center;
			position: absolute;
			background-size: cover;
			width: calc(100% - 6px);
			height: 30px;
			bottom: 1px;
			left: 2px;
			right: 4px;
			z-index: 0;
		}
		svg {
			@include full();
			transform: translateY(-6%);
			z-index: 1;
		}
	}
	ul {
		li {
			display: block;
			margin-top: -3px;
			a {
				text-align: center;
				display: block;
				padding: 15px 12px;
				color: #fff;
				font-size: 16px;
				line-height: 18px;
				font-weight: bold;
				&.font--small {
					font-size: 13px;
				}
				&:hover, &.selected {
					color: $color3;
					text-decoration: none;
				}
				span {
					text-shadow: 0px 2px 2px rgba(88, 28, 6, 0.8);
				}
			}
		}
		.dropdown-menu {
			border-radius: 0;
			border: 0; 
			position: relative;
			left: auto;
			box-shadow: none;
			top: auto;
			float: none;
			background-color: transparent;
			& > li > a {
				transform: scale(0.95);
				&:hover, &:focus {
					color: $color3;
					background-color: transparent;
					text-decoration: none;
				}
			}
			.dropdown-menu {
				& > li > a {
					transform: scale(0.85);
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.aside__menu {
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 101px;
			top: -60px;
			width: 38px;
			height: 65px;
			background-image: url('../images/decorations/tree-core.png');
			background-size: 38px 100%;
			background-repeat: repeat-y;
		}
	}
}
@media (max-width: 1199px) {
	.aside {
		background-position: 95px 0;
	}
	.aside__holder {
		bottom: auto !important;
	}
	.aside__modules {
		width: calc(100% + 20px);
		transform: translateX(-18px);
	}
	.aside__module {
		h2 {
			max-width: 100%;
			span {
				font-size: 1.6rem;
			}
		}
		&#mod_jokes, &#mod_video, &#mod_gallery {
			&:after {
				top: 40px;
			}
		}
		&#mod_login {
			label, input[type="text"], input[type="password"] {
				float: none;
				width: 100%;
			}
			label {
				line-height: 18px;
				padding: 0;
				margin: 0;
			}
			input[type="text"], input[type="password"] {
				margin: 2px 0 8px;
			}
			.clear {
				display: none;
			}
		}
		&#mod_calendar2 {
			.caption_nav_prev {
				left: 0;
			}
			.caption_nav_next {
				right: 0;
			}
			table {
				width: 100%;
				transform: none;
				th, td {
					line-height: 24px;
					height: 24px;
					a {
						height: 24px;
					}
				}
			}
		}
		&#mod_questionnaire {
			ul {
				label {
					width: 185px;
				}
			}
		}
	}
	.aside__menu {
		background-image: none;
		transform: translateX(-20px);
		width: 240px;
		li a {
			&:after {
				width: calc(100% - 6px);
			}
		}
		ul {
			li {
				a {
					background-size: contain !important;
					font-size: 1.4rem;
					line-height: 18px;
					padding: 13px 8px;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.aside__module {
		height: auto !important;
		.aside__content {
			height: auto !important;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.aside__module {
		&:after {
			left: 50%;
			transform: translateX(-50%);
			top: 45px !important;
		}
		&#mod_forum {
			.aside__content {
				& > span {
					display: block;
					&.bolder {
						display: none;
					}
				}
			}
		}
		&#mod_login {
			.aside__content {
				&:before {
					display: none;
				}
			}
			form {
				transform: translateY(-95px);
			}
			.user-avatar {
				position: absolute;
				top: -90px;
				left: 50%;
				transform: translateX(-50%);
				&:after {
					content: '';
					position: absolute;
					width: 100px;
					left: calc(50% - 50px);
					right: 0;
					bottom: -28px;
					height: 1px;
					display: block;
					background-color: $color3;
				}
			}
		}
		&#mod_calendar2, &#mod_weather, &#mod_questionnaire {
			.aside__content {
				margin-top: 0;
				&:before {
					display: none;
				}
			}
			&:after {
				display: none;
			}
		}
		&#mod_calendar {
			.clock-container {
				top: -100px;
				right: 50%;
				transform: translateX(50%);
				svg {
					transform: translateY(9px);
				}
			}
		}
		&#mod_questionnaire {
			.aside__content {
				text-align: left;
			}
			ul {
				label {
					width: 300px;
				}
			}
		}
	}
	.aside__content {
		margin: 95px auto 0;
		max-width: 300px;
		position: relative;
		text-align: center;
		&:before {
			content: '';
			width: 100px;
			position: absolute;
			left: calc(50% - 50px);
			right: 0;
			top: -15px;
			height: 1px;
			display: block;
			background-color: $color3;
		}
	}
}
@media (max-width: 991px) {
	.aside {
		height: auto !important;
		background-image: none;
	}
	.aside__modules {
		width: 100%;
		transform: none;
		display: block;
		& > div {
			display: inline-block;
			vertical-align: top;
			width: 47%;
			max-width: 47%;
			&:nth-child(odd) {
				margin-right: 2.5%;
			}
			&:nth-child(even) {
				margin-left: 2.5%;
			}
		}
	}
	.aside__module {
		h2 {
			left: 50%;
			transform: translateX(-50%);
		}
		&#mod_forum {
			br {
				display: none;
			}
		}
		&#mod_calendar2 {
			table {
				th, td {
					line-height: 33px;
					height: 33px;
					a {
						height: 33px;
					}
				}
			}
		}
	}
	.aside__menu {
		margin: 0 auto 30px;
		width: 263px;
		transform: none;
		h2 {
			margin: 0;
		}
		ul {
			li {
				margin-top: 0;
				a {
					background-size: auto !important;
					&.font--small {
						line-height: 16px;
					}
				}
			}
		}
	}
	.aside__holder {
		margin-top: 20px;
	}
}
@media (max-width: 767px) {
	.aside__modules {
		display: block;
		& > div {
			display: block;
			width: 100%;
			max-width: 360px;
			&:nth-child(odd), &:nth-child(even) {
				margin: 50px auto;
			}
		}
	}
	.aside__module {
		height: auto !important;
		&#mod_jokes, &#mod_video, &#mod_gallery {
			&:after {
				top: 30px;
			}
		}
		&#mod_forum {
			br {
				display: block;
			}
		}
		&#mod_questionnaire {
			ul {
				label {
					width: 300px;
				}
			}
		}
	}
	.aside__module {
		.aside__content {
			height: auto !important;
		}
	}
}
@media (max-width: 400px) {
	.aside__module {
		&#mod_questionnaire {
			ul {
				label {
					width: 250px;
				}
			}
		}
	}
}