.footer {
	padding: 50px 0 0;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 143px;
	&:before {
		content: '';
		position: absolute;
		display: block;
		width: 38px;
		height: calc(100% + 50px);
		top: -50px;
		left: calc(50% - 459px);
		pointer-events: none;
		background-image: url('../images/decorations/tree-core.png');
		background-repeat: repeat-y;
	}
	p {
		position: absolute;
		z-index: 2;
		color: #fff;
		font-size: 1.1rem;
		line-height: 13px;
		bottom: 20px;
		left: calc(50% - 515px);
		margin: 0;
		a {
			font-weight: bold;
			color: #fff;
			text-decoration: none;
			&:hover, &:focus {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
}
.footer--gotop {
	display: none;
}
.footer__background {
	width: 1600px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	left: calc(50% - 800px);
	max-width: 1600px;
}
@media (max-width: 1199px) {
	.footer__background {
		left: calc(50% - 717px);
	}
	.footer {
		&:before {
			left: calc(50% - 390px);
		}
		p {
			left: calc(50% - 425px);
		}
	}
}
@media (max-width: 991px) {
	.footer__background, .footer {
		display: none;
	}
	.footer {
		&:before {
			display: none;
		}
	}
	.footer--gotop {
		transition: all .3s ease;
		display: block;
		height: 80px;
		line-height: 80px;
		background-color: $color2;
		color: #fff;
		text-align: center;
		&:hover {
			background-color: $color2 + #222;
			color: #fff;
		}
	}
}