.forum__actions {
	@include clearfix();
	padding: 0;
	margin: 0 0 5px;
	display: block;
	li {
		display: block;
		float: left;
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}
.forum-threads-wrapper {
	padding: 5px;
	margin: 5px 0;
}
.forum-wrapper {
	a {
		font-weight: bold;
	}
}
.forum__topics {
	width: 100%;
	color: $basic;
	border-collapse: collapse;
	border: 1px solid $color2;
	a {
		color: $basic;
	}
	p {
		margin: 0;
	}
	th {
		text-align: left;
		&.titles {
			width: 80%;
		}
		&.topics {
			width: 10%;
		}
		&.responds {
			width: 10%;
		}
	}
	td {
		a {
			span, p {
				margin: 0;
				display: block;
			}
			span {
	
			}
		}
	}
	th, td {
		padding: 5px;
		border: 1px solid $color2;
	}
}
.listPosts {
	margin: 0;
	padding: 0;
	display: block;
	& > li {
		display: block;
		border-bottom: 1px dashed $color3;
	}
}
.postText, .topicText {
	@include clearfix();
	display: block;
}
.topicText {
	margin: 20px 0 0;
	& + .respondButtonList {
		border-bottom: 1px dashed $color3;
	}
}
.postAuthor, .topicAuthor {
	padding: 15px;		
	width: 200px;
	float: left;
	& > * {
		display: block;
		margin: 0 auto 3px;
		text-align: center;
	}
}
.postContent, .topicContent {
	width: calc(100% - 200px);
	float: left;
	padding: 15px 15px 40px;
	position: relative;
	blockquote {
		font-size: 1.3rem;
		border-left: 3px solid $basic;
		margin: 0;
		padding: 5px;
	}
	.respondButtonList {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		a {
			&:before {
				border-bottom-color: #f0f0f0;
			}
		}
	}
}
.respondButtonList {
	@include clearfix();
	margin: 0;
	padding: 0 0 5px;
	width: 100%;
	display: block;
	text-align: right;
	li {
		display: inline-block;
		text-align: center;
		margin: 5px;
		font-size: 0;
	}
}
.forum__topics--link {
	display: block;
}
.forum__topics--holder {
	overflow-x: auto;
	margin: 0 auto 20px;
}
@media (max-width: 639px) {
	.listPosts {
	}
	.postText, .topicText {
		display: block;
	}
	.postAuthor, .topicAuthor {
		width: 100%;
		display: block;
		padding: 5px 15px;
		border-right: 0;
		border-bottom: 1px dashed $color3;
		& > * {
			display: inline-block;
			margin: 0 5px 0 0;
		}
	}
	.postContent, .topicContent {
		width: 100%;
	}
}
@media (max-width: 479px) {
	.forumAvatarImage {
		display: none !important;
	}
	.respondButtonList {
		.button-wrapper {
			padding: 0 25px 0 5px;
			&:after {
				display: none;
			}
		}
	}
}