.form {
	.group {
		@include clearfix();
		max-width: 530px;
		margin: 10px 0;
	}
	label {
		width: 180px;
		float: left;
		line-height: 32px;
		display: block;
		text-align: left;
		& > * {
			line-height: 32px;
		}
	}
	p {
		margin: 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: calc(100% - 180px);
		float: left;
		max-width: 350px;
	}
	textarea {
		resize: none;
		font-size: 1.6rem;
		height: 140px;
	}
	.button-wrapper {
		margin-left: 180px;
	}
	.msgMarg {
		display: none;
		&.msgError {
			display: block;
		}
	}
	.msgError {
		width: calc(100% - 180px);
		float: right;
	}
	.radio {
		@include clearfix();
		margin: 0;
		height: 32px;
		position: relative;
	}
	input[type="radio"] {
		position: absolute;
		margin: 8px 0 0 2px;
		left: 180px;
		top: 0;
		& + label {
			padding: 0 0 0 26px;
			color: inherit;
			position: relative;
			&:before {
				content: '';
				width: 16px;
				height: 16px;
				border: 1px solid #d8aa51;
				background-color: #fff;
				display: block;
				border-radius: 50%;
				display: block;
				position: absolute;
				left: 0;
				top: 7px;
			}
			&:after {
				content: '';
				position: absolute;
				display: none;
				top: 12px;
				left: 5px;
				border-radius: 50%;
				width: 6px;
				height: 6px;
				background-color: #84220b;
			}
		}
		&:checked {
			& + label {
				&:after {
					display: block;
				}
			}
		}
	}
	.upload {
		input[type="text"] {
			margin-bottom: 10px;
		}
		.button-wrapper {
			& + input {
				display: none;
			}
		}
	}
	.form__delete {
		margin-left: 10px;
	}
}
#avatar_f {
	display: none;
}
.txt_com, .txt_msg {
	border: 1px solid $color1;
	color: $color1;
	padding: 15px 15px 15px 72px;
	margin: 0 0 10px;
	position: relative;
	display: block;
	&:before {
		content: 'i';
		font-family: sans-serif;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		position: absolute;
		top: calc(50% - 12px);
		left: 15px;
		text-align: center;
		line-height: 24px;
		font-size: 2rem;
		display: inline-block;
		border: 1px solid $color1;
	}
	a {
		color: $color1;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.msgError, .txt_err, .attention {
	border: 1px solid $color2;
	padding: 15px 15px 15px 72px;
	position: relative;
	display: block;
	color: $color2;
	margin: 10px 0;
	&:before {
		content: '!';
		border: 1px solid $color2;
		font-family: sans-serif;
		border-radius: 50%;
		width: 26px;
		height: 26px;
		position: absolute;
		top: calc(50% - 13px);
		left: 15px;
		text-align: center;
		line-height: 26px;
		font-size: 20px;
		display: inline-block;
	}
	a {
		color: $color2;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.form--newsletter {
	h3 {
		color: $color2;
	}
}
@media (max-width: 479px) {
	.form {
		label {
			line-height: 20px;
			padding: 0 0 5px;
		}
		label, input[type="text"], input[type="email"], input[type="password"], textarea, .msgError {
			width: 100%;
			max-width: 100%;
		}
		.button-wrapper {
			margin-left: 0;
		}
		.radio {
			height: auto;
		}
		input[type="radio"] {
			display: none;
			& + label {
				&:before {
					top: 0;
				}
				&:after {
					top: 5px;
				}
			}
		}
	}
}