.hero {
	height: 405px;
	position: relative;
	overflow: hidden;
}
.hero__title {
	width: 215px;
	position: absolute;
	z-index: 2;
	right: 10px;
	right: 10px;
	top: 45px;
	font-size: 26px;
	line-height: 32px;
	font-family: 'Droid Sans', sans-serif;
	margin: 0;
	text-align: right;
	font-weight: 700;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	color: #fff;
}
.hero__holder {
	width: 624px;
	height: 411px;
	left: 262px;
	transform: translateY(-8px);
	position: relative;
	z-index: 5;
}
.hero__background--inner, .hero__slider {
	width: 624px;
	height: 408px;
	position: absolute;
	li {
		height: 408px;
	}
}
.hero__dot--left {
	display: block;
	position: absolute;
	z-index: 4;
	left: 4px;
	bottom: 28px;
}
.hero__dot--right {
	display: block;
	position: absolute;
	z-index: 4;
	right: 6px;
	bottom: 10px;
}
.hero__background--outer {
	top: 3px;
	width: 624px;
	height: 408px;
	position: absolute;
	path {
		fill: #51120a;
	}
}
.hero__background--inner {
	path {
		fill: #4c0b00;
	}
}
.hero__banner {
	top: 10px;
	left: 10px;
	width: 594px;
	height: 379px;
	position: absolute;
}
.hero__info {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	width: 180px;
	bottom: 85px;
	right: 10px;
	text-align: right;
	position: absolute;
	&.font--small {
		font-size: 13px;
		line-height: 15px;
	}
	a {
		color: #30a9bc;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	* {
		color: #30a9bc !important;
		position: relative;
		z-index: 2;
		margin: 0;
	}
	&:before {
		content: '';
		position: absolute;
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../images/decorations/address.png');
		z-index: 1;
		width: 449px;
		height: 240px;
		top: -60px;
		right: -79px;
	}
}
@media (max-width: 1199px) {
	.hero__holder {
		left: 0;
	}
}
@media (min-width: 992px) {
	.owl-carousel {
		.owl-wrapper-outer {
			height: 388px;
			.owl-wrapper {
				height: 408px;
			}
		}
	}
}
@media (max-width: 991px) {
	.hero {
		height: 290px;
	}
	.hero__title {
		font-size: 2.3rem;
		line-height: 26px;
		left: 500px;
		width: 315px;
		text-align: center;
	}
	.hero__info {
		font-size: 1.4rem;
		line-height: 16px;
		left: 500px;
		width: 315px;
		bottom: 30px;
		text-align: center;
		&:before {
			display: none;
		}
	}
	.hero__dot--left {
		left: 0;
		bottom: 18px;
	}
	.hero__holder {
		width: 424px;
		height: 279px;
		left: 40px;
		transform: translateY(-8px);
		position: relative;
		z-index: 5;
	}
	.hero__background--inner, .hero__slider {
		width: 424px;
		height: 276px;
		position: absolute;
		li {
			height: 276px;
		}
	}
	.hero__background--outer {
		top: -13px;
		right: 17px;
		width: 424px;
		height: 276px;
		position: absolute;
	}
	.hero__banner {
		left: 10px;
		width: 394px;
		height: calc(100% - 20px);
		position: absolute;
	}
}
@media (max-width: 840px) {
	.hero__holder {
		left: 0;
	}
	.hero__title, .hero__info {
		left: 500px;
		width: 230px;
	}
	.hero__title {
		margin: 0;
		top: 30px;
	}
}
@media (max-width: 767px) {
	.hero {
		height: auto;
		padding: 30px 0;
	}
	.hero__title, .hero__info {
		width: calc(100% - 200px);
		position: static;
		margin: 0 auto;
	}
	.hero__holder {
		margin: 20px auto;
		position: relative;
		transform: none;
		left: auto;
		right: auto;
		top: auto;
	}
}
@media (max-width: 639px) {
	.hero__title, .hero__info {
		width: calc(100% - 100px);
	}
}
@media (max-width: 479px) {
	.hero {
		padding: 15px 0;
	}
	.hero__title, .hero__info {
		width: 100%;
	}
	.hero__holder {
		width: 100%;
		margin: 10px auto;
	}
	.hero__background--outer {
		display: none;
	}
	.hero__background--inner, .hero__slider {
		width: 100%;
	}
	.hero__banner {
		width: calc(100% - 30px);
	}
	.hero__dot {
		display: none;
	}
}
@media (max-width: 420px) {
	.hero__holder {
		margin-top: -20px;
		margin-bottom: -20px;
	}
}