.FBLike, .Tweet {
	iframe {
		margin: 5px 0 0;
	}
}
.files-header, .gallery-header {
	margin: 5px 0 15px;
}
.user-name {
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.skip-links {
    position: absolute;
    top: 0;
    width: 200px;
    a, a:visited {
	    display: inline-block;
	    left: -9999px;
	    padding: 7px 10px;
	    position: absolute;
	    text-decoration: none;
	    z-index: 100;
	    width: 200px;
	    text-align: center;
	    -webkit-transition: opacity 0.3s ease 0s;
	    transition: opacity 0.3s ease 0s;
	    opacity: 0
	}
	a {
		&:focus, &:hover, &:active, &:visited:focus, &:visited:hover, &:visited:active {
		    left: 0;
		    background-color: #a8d2c6;
		    border: 2px solid #e7a2a1;
		    opacity: 1;
		    outline: none;
		}
	}
}
.msgError {
	&:empty {
		display: none;
	}
}
.dropdown-backdrop {
	display: none;
}
#cookiesMsgWrap {
	border-top: 1px solid $color1 !important;
	color: $color2 !important;
	background: #fff !important;
	font-family: 'Droid Sans', sans-serif !important;
	a {
		color: $color1 !important;
		&:hover {
			text-decoration: underline !important;
		}
	}
}
.search-list {
	h3 {
		color: $color1;
		a {
			color: currentColor;
		}
	}
}
.search-lead {
	border-bottom: 1px dashed $color3;
	padding-bottom: 15px;
	&:empty {
		display: none;
	}
}
.search-text {
	margin-bottom: 15px;
}
#cookiesMsg {
	width: 100% !important;
	max-width: 900px !important;
	padding: 0 25px !important;
	color: $color2 !important;
	background: #fff !important;
	font-family: 'Droid Sans', sans-serif !important;
	a {
		color: $color1 !important;
		&:hover {
			text-decoration: underline !important;
		}
	}
}
#advertsTopWrapper {
	margin: 40px 0 0;
	text-align: center;
}
.advertTop {
	color: $color2;
	margin: 10px 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	img {
		max-width: 700px;
		width: auto !important;
		height: auto !important;
		margin: 5px auto 0;
		display: block;
	}
	table {
		margin: 0 auto;
		border-collapse: collapse;
		th, td {
			padding: 3px;
			border: 1px solid $color2;
		}
	}

	p {
		color: $color2;
		margin: 10px 0;
	}
}
#advertsLeftContent {
	position: relative;
	padding: 40px 5px;
}
.files-wrapper {
	padding-bottom: 15px;
	a {
		color: $color2;
	}
	ul {
		list-style-type: none !important;
		padding-left: 0 !important;
	}
}
.authorName {
	margin-bottom: 10px;
}
.advertLeft {
	color: #fff;
	position: relative;
	z-index: 3;
	word-wrap: break-word;
	overflow-wrap: break-word;
	table {
		margin: 0 auto;
		border-collapse: collapse;
		th, td {
			padding: 3px;
			border: 1px solid #fff;
		}
	}
	p {
		color: #fff;
		margin: 10px 0;
	}
	img {
		width: 190px !important;
		height: auto;
		margin: 0 auto;
		display: block;
	}
}
#advertsLeftWrapper {
	div {
		margin: 10px auto;
		text-align: center;
	}
}
.gallery__image--path {
	fill: #4c0b00;
}
.gallery {
	font-size: 0;
	& > li {
		font-size: 1.4rem;
		display: inline-block;
		vertical-align: top;
		float: none;
		margin: 0 0 15px;
		text-align: center;
		& > a {
			text-decoration: none;
			color: $color2;
			display: inline-block;
			&.photo {
				& > svg {
					width: 262px;
					height: 181px;
				}
			}
			&:hover, &:focus {
				color: $color1;
				text-decoration: none;
				transform: rotate(3deg);
			}
		}
	}
}
.photo-name {
	text-align: left;
	padding: 2px 5px;
}
.no-outline {
    outline: none !important;
}
a:focus, button:focus, input:focus, .menu-top .navbar-toggle:focus, .dropdown-toggle:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.keyboard-outline {
	outline: 2px solid red !important;
	outline-offset: 2px !important;
}
#content_txt {
	@include clearfix();
	.label {
		color: inherit;
	}
	h2 {
		color: $color2;
		font-weight: bold;
		font-size: 2.7rem;
		line-height: 30px;
		padding: 0 0 15px;
		border-bottom: 1px solid $color3;
		margin: 20px 0 35px;
	}
	table {
		margin: 10px 0;
		caption {
			font-weight: bold;
		}
	}
	.questionnaire {
		.clearfix {
			display: none;
		}
	}
}
#welcome, .main-text {
	word-wrap: break-word;
	overflow-wrap: break-word;
	h1, h2, h3, h4, h5, h6 {
		color: $color2;
		font-family: 'Droid Sans', sans-serif;
		font-weight: bold;
	}
	h2 {
		padding: 0;
		border-bottom: 0;
		line-height: 1.1;
		margin-bottom: 10px;
	}
	h5 {
		font-size: 1.7rem;
	}
	h6 {
		font-size: 1.6rem;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	ul {
	    list-style-type: disc;
	    list-style-position: inside;
	}
	table {
		table-layout: fixed;
		border-collapse: collapse;
		caption {
		    padding-top: 8px;
		    padding-bottom: 8px;
		    font-family: 'Droid Sans';
		    font-weight: bold;
		    font-size: 14px;
		    text-align: center;
		    border: 1px solid $color2;
		    border-bottom-width: 0;
		    color: $color2;
		}
		th, td {
			border: 1px solid $color2;
			padding: 5px;
		}
	}
}
.sitemap {
	list-style-type: circle;
	display: block;
	padding: 0 0 0 15px;
	margin: 0;
	a {
		padding: 3px 0;
		display: inline-block;
		color: $color2;
		&:hover {
			color: $color1;
			text-decoration: underline;
		}
	}
}
.skip-links {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.skip-links a,
.skip-links a:visited {
    display: inline-block;
    left: -9999px;
    padding: 7px 10px;
    position: absolute;
    text-decoration: none;
    z-index: 100;
    color: $color2;
    width: 200px;
    text-align: center;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    opacity: 0
}
.Tweet, .FBLike {
	float: left;
}
.skip-links a:focus,
.skip-links a:hover,
.skip-links a:active,
.skip-links a:visited:focus,
.skip-links a:visited:hover,
.skip-links a:visited:active,
.skip-links a.keyboard-outline {
    left: 0;
    background-color: #fff !important;
    border: 2px solid $color2;
    opacity: 1;
    outline: none !important;
}
#jokes {
	margin: 0;
	padding: 0;
	li {
		border-bottom: 1px solid $color1;
		margin-bottom: 10px;
	}
	p {
		margin: 0;
	}
	.jokeText {
		margin: 20px 0 10px;
	}
	.jokeNick {
		border-top: 1px dashed $color1;
		font-size: 1.2rem;
		padding: 3px 0;
	}
}
.txtMessage {
	iframe {
		& ~ small {
			display: block;
			text-align: center;
			a {
				color: $basic !important;
				text-decoration: underline !important;
				&:hover {
					text-decoration: none !important;
				}
			}
		}
	}
}
.main-header {
	color: $color2;
	display: block;
	border-bottom: 1px solid $color3;
	padding: 0 0 15px;
	margin: 40px 0;
	font-weight: bold;
	font-size: 2.6rem;
	line-height: 28px;
}
#flashclock {
	display: none;
}
.dropdown-menu {
	& > li {
		& > a {
			white-space: normal;
			&:focus, &:hover {
				background: transparent;
			}
		}
	}
}
iframe ~ small {
	& > a {
		display: block;
		text-align: center !important;
		color: $color2 !important;
	}
}
.keyboard-outline {
	outline: 2px solid red !important;
	outline-offset: 2px !important;
	text-decoration: none !important;
}
.qAnswer {
	font-size: 1.3rem;
	width: calc(100% - 80px);
}
.qPercent {
	float: right;
	text-align: right; 
	margin: 0; 
	padding: 0; 
	transform: translateY(-24px); 
	color: #daad53; 
	font-weight: 700;
	font-size: 3rem; 
	line-height: 32px;
}
.board {
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
		font-family: 'Droid Sans', sans-serif;
		font-weight: bold;
	}
	h5 {
		font-size: 1.7rem;
	}
	h6 {
		font-size: 1.6rem;
	}
	ul {
		list-style-type: disc;
		list-style-position: inside;
	}
	table {
		color: #fff;
	    margin: 10px 0;
		table-layout: fixed;
		border-collapse: collapse;
	    border: 1px solid #fff;
		caption {
		    padding-top: 8px;
		    padding-bottom: 8px;
		    font-family: 'Droid Sans';
		    font-weight: bold;
		    font-size: 14px;
		    text-align: center;
		    border: 1px solid #fff;
		    border-bottom-width: 0;
		    color: #fff;
		}
		td, th {
			border: 1px solid #fff;
		    color: #fff;
		    padding: 5px;
		    font-size: 14px;
		    font-family: 'Droid Sans';
		    font-weight: normal;
		}
		th {
		    background: transparent;
		    padding: 5px;
		}
	}
	blockquote {
		font-size: 1.3rem;
	    border-left: 3px solid #fff;
	    margin: 0;
	    padding: 5px;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none !important;
		}
	}
}
.qBar {
	background: #daad53; 
	height: 4px; 
	margin: 8px 0 15px 0; 
}
#crumbpath {
	@include clearfix();
	margin-top: 30px;
	i {
		display: none;
	}
	.here, ol {
		float: left;
	}
	a {
		text-decoration: none;
		color: $basic;
		&:hover {
			text-decoration: underline;
		}
	}
	ol {
		margin-left: 5px;
		li {
			position: relative;
			padding: 0 12px;
			&:not(:last-child) {
				&:after {
					position: absolute;
					right: -4px;
					top: 0;
					content: '>';
				}
			}
		}
	}
}
.table-responsive {
	border: 0;
}
#welcome {
	margin-bottom: 15px;
}
.timetable {
	ul {
		li {
			a {
				color: $color2;
				&:hover {
					color: $color1;
				}
			}
		}
	}
	table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid $color2;
		th, td, caption {
			padding: 5px;
			border: 1px solid $color2;
		}
		caption {
			background-color: $color2;
			color: #fff;
			border-bottom: 0;
		}
		p {
			margin: -5px;
			padding: 5px;
			font-weight: 700;
			color: #fff;
			background-color: $color3;
		}
	}
}
.cloud, .tree {
	position: absolute;
}
.tree--top {
	top: 94px;
	left: calc(50% - 644px);
}
.cloud--top1 {
	top: -5px;
	left: calc(50% - 187px);
}
.cloud--top2 {
	top: -5px;
	left: calc(50% - 613px);
}
#fancybox-wrap + svg {
	display: none;
}
.base--button {
	position: relative;
	display: inline-block;
	transition: all .3s ease;
	& > *:not(svg) {
		position: relative;
		z-index: 3;
		margin: 0;
		padding: 10px 14px 14px 20px;
		font-size: 1.6rem;
		line-height: 19px;
		text-shadow: 0px 2px 2px rgba(88, 28, 6, 0.1);
		color: $color2;
		font-weight: 700;
		background: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: none;
	}
	svg {
		@include full();
		&:not(:first-of-type) {
			height: calc(100% - 3px);
			bottom: 3px;
		}
	}
	input, a, button {
		transition: all .3s ease;
		text-decoration: none !important;
		&:hover {
			text-decoration: none !important;
			color: $color2 - #444 !important;
		}
		&:focus {
			text-decoration: none !important;
		}
	}
	&:hover {
		transform: rotate(3deg);
		input, a {
			text-decoration: none;
		}
	}
}
.base--button__shadow {
	@include full();
	z-index: 1;
}
#base-button-shadow {
	fill: #000;
}
.base--button__background {
	@include full();
	height: calc(100% - 3px);
	bottom: 3px;
	z-index: 2;
}
#base-button-background {
	fill: #ca945e;
}
@media (max-width: 1199px) {
	#advertsLeftContent {
		width: calc(100% + 20px);
		transform: translateX(-18px);
	}
	.tree--core {
		left: 102px !important;
	}
	.cloud--top1 {
		left: calc(50% - 87px);
	}
	.cloud--top2 {
		left: calc(50% - 503px);
	}
}
@media (max-width: 991px) {
	.cloud, .tree, .tree--core {
		display: none;
	}
	#crumbpath {
		margin-top: 0;
	}
	#advertsLeftContent {
		width: calc(100% + 30px);
		transform: translateX(-15px);
	}
}
@media (max-width: 767px) {
	.gallery {
		& > li {
			max-width: 360px;
			width: 100%;
			display: block;
			margin: 25px auto;
		}
	}
}
@media (max-width: 730px) {
	.advertTop {
		img {
			max-width: 100%;
		}
	}
}