.modules-top {
	width: 1140px;
	display: block;
	margin: 0 auto;
	margin-bottom: -55px;
	position: relative;
	p {
		margin-bottom: 5px;
	}
	h2 {
		position: relative;
		background-image: url('../images/modules-top/mt-title-shadow.svg');
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: 100%;
		font-size: 2rem;
		line-height: 49px;
		font-weight: 700;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
		padding: 0 26px;
		margin: 0 0 15px;
		&:before, &:after {
			@include dot();
			top: 50%;
			transform: translateY(-53%);
			z-index: 2;
		}
		&:before {
			left: 5px;
		}
		&:after {
			right: 5px;
		}
		span {
			position: relative;
			z-index: 2;
			color: $color2;
			transform: translateY(-3%);
		}
		svg {
			transform: translateY(-3%);
		}
	}
}
.modules-top__holder {
	transform: translateY(-46px);
	width: 875px;
	position: relative;
	left: 280px;
}
.modules-top__background {
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	path {
		fill: #4c0b00;
	}
}
.modules-top__background--title {
	width: 100%;
	height: 49px;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;	
	path {
		fill: #ca945e;
	}
}
.modules-top__content {
	width: calc(100% - 20px);
	position: relative;
	margin-left: 10px;
	font-size: 1.3rem;
	line-height: 16px;
	min-height: 70px;
	color: #fff;
	padding-right: 100px;
	a {
		color: #fff;
	}
	&:before {
		display: block;
		position: absolute;
		right: -25px;
		top: 0;
		background-size: contain;
		background-repeat: no-repeat;
		width: 90px;
		height: 90px;
	}
}
.modules-top__list {
	position: relative;
	z-index: 2;
	display: block;
	width: 830px;
	margin: 0 auto;
	padding: 20px 0 30px;
	font-size: 0;
	& > li {
		font-size: 1.4rem;
		vertical-align: top;
		display: inline-block;
		padding: 0 8px;
		width: 25%;
		&#mod_stats {
			.stats-count {
				font-weight: bold;
			}
			.modules-top__content {
				&:before {
					content: '';
					width: 87px;
					height: 51px;
					background-image: url('../images/icons/stats.png');
				}
			}
		}
		&#mod_menu {
			.modules-top__content {
				&:before {
					content: '';
					width: 102px;
					height: 51px;
					background-image: url('../images/icons/menu.png');
				}
			}
		}
		&#mod_location {
			.modules-top__content {
				&:before {
					content: '';
					width: 101px;
					height: 56px;
					background-image: url('../images/icons/location.png');
				}
			}
		}
		&#mod_video {
			.modules-top__content {
				
				&:before {
					content: '';
					width: 76px;
					height: 76px;
					background-image: url('../images/icons/video.png');
				}
			}
		}
		&#mod_jokes {
			.modules-top__content {
				
				&:before {
					content: '';
					width: 60px;
					height: 61px;
					background-image: url('../images/icons/jokes.png');
				}
			}
		}
		&#mod_timetable {
			.modules-top__content {
				
				&:before {
					content: '';
					width: 94px;
					height: 57px;
					background-image: url('../images/icons/timetable.png');
				}
			}
		}
		&#mod_programs {
			.modules-top__content {
				&:before {
					content: '';
					width: 82px;
					height: 63px;
					background-image: url('../images/icons/programs.png');
				}
			}
		}
		&#mod_newsletter {
			.modules-top__content {
				&:before {
					content: '';
					width: 82px;
					height: 63px;
					background-image: url('../images/icons/newsletter.png');
				}
			}
		}
		&#mod_gallery {
			.modules-top__content {
				
				&:before {
					content: '';
					width: 99px;
					height: 83px;
					background-image: url('../images/icons/gallery.png');
				}
			}
		}
		&#mod_contact {
			a {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
			.modules-top__content {
				&:before {
					content: '';
					width: 75px;
					height: 63px;
					background-image: url('../images/icons/contact.png');
				}
			}
		}
		&#mod_kzk {
			.modules-top__content {
				&:before {
					content: '';
					width: 77px;
					height: 80px;
					background-image: url('../images/icons/kzk.png');
				}
			}
		}
		&#mod_calendar {
			.clock-container {
				width: 76px;
				height: 76px;
				position: absolute;
				top: 0;
				right: -25px;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url('../images/background-clock.png');
				background-position: center center;
				svg {
					width: 59px;
					height: 59px;
					transform: translateX(8px) translateY(9px);
				}
			}
		}
		&#mod_login {
			fieldset {
				width: 100%;
			}
			input[type="text"], input[type="password"] {
				width: 100%;
				margin: 0 0 5px;
			}
			input[type="submit"] {
				&:hover {
					text-decoration: underline;
				}
			}
			.modules-top__content {
				padding-right: 0 !important;
			}
			a[href="edytuj-konto"] {
				color: $color3;
			}
			.userAvatar {
				float: left;
				margin: 0 10px 10px 0;
			}
		}
		&.one {
			width: 100%;
			h2 {
				&:before {
					left: 8px;
				}
				&:after {
					right: 14px;
				}
			}
			.modules-top__content {
				width: 320px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&.two {
			width: 50%;
			h2 {
				&:after {
					right: 8px;
				}
			}
			.modules-top__content {
				width: 240px;	
				margin-left: auto;
				margin-right: auto;		
			}
		}
		&.three {
			width: 33.3333%;
			h2 {
				width: 243px;
				height: 52px;
			}
			.modules-top__content {
				width: 240px;
				&:before {
					right: -15px;
				}
			}
		}
	}
}
@media (max-width: 1199px) {
	.modules-top {
		z-index: 3;
		width: 940px;
		margin-bottom: -35px;
	}
	.modules-top__holder {
		left: 18px;
	}
	.modules-top__content {
		&:before {
			transform: scale(0.8);
			transform-origin: 100% 0%;
		}
	}
}
@media (max-width: 991px) {
	.modules-top {
		width: 100%;
		overflow: hidden;
		z-index: 1;
		min-height: 0;
		margin: 0 0 20px;
	}
	.modules-top__holder {
		width: 100%;
		transform: none;
		position: relative;
		left: auto;
		right: auto;
		min-height: 0;
	}
	.modules-top__background {
		width: 120%;
		height: 110%;
		left: -10%;
	}
	.modules-top__list {
		width: 100%;
		padding: 15px 15px 0;
		& > li {
			width: 50%;
			max-width: 50%;
			margin: 0 0 45px;
			h2 {
				width: 100% !important;
				height: auto !important;
				font-size: 1.6rem !important;
				background-image: none;
				padding: 0 22px 0 26px;
				&:before {
					left: 12px;
				}
				&:after {
					right: 12px;
				}
			}
			&#mod_calendar {
				.modules-top__content {
					min-height: 85px; 
				}
				.clock-container {
					right: -5px;
				}
			}
		}
	}
	.modules-top__content {
		width: 100% !important;
		max-width: 310px;
		margin: 0 auto !important;
		padding-right: 100px !important;
	}
}
@media (max-width: 767px) {	
	.modules-top {
		overflow: visible;
	}
	.modules-top__list {
		display: block;
		& > li {
			display: block;
			width: 100% !important;
			max-width: 100%;
		}
	}
	.modules-top__content {
		max-width: 280px;
		min-height: 60px;
		&:before {
			right: -12px;
		}
	}
}
@media (max-width: 539px) {
	.modules-top__list {
		& > li {
			width: 100%;
			max-width: 100%;
		}
	}
}