.modules-content {
	margin: 20px 0;
	& > ul {
		display: block;
		width: 877px;
		font-size: 0;
		text-align: center;
		& > li {
			text-align: left;
			font-size: 1.4rem;
			position: relative;
			display: inline-block;
			vertical-align: top;
			height: 208px;
			transition: all .3s ease;
			&:hover {
				transform: rotate(3deg);
				h2 {
					color: #fff;
				}
			}
			&:before, &:after {
				@include dot();
				z-index: 2;
			}
			&:before {
				bottom: 26px;
				left: 1px;
			}
			&:after {
				bottom: 15px;
				right: 5px;
			}
			&.one {
				width: 670px;
				height: 194px;
				margin-left: auto;
				margin-right: auto;
				h2 {
					width: 243px;
					bottom: -20px;
					background-size: 100% 100%;
				}
				&:before {
					bottom: 17px;
				}
				&:after {
					bottom: 0;
					right: 9px;
				}
			}
			&.two {
				width: 292px;
				height: 194px;
				.modules__content--background {
					transform: scale(1.2);
				}
				h2 {
					width: 243px;
					bottom: -20px;
				}
				&:first-child {
					margin-right: 30px;
				}
				&:last-child {
					margin-left: 30px;
				}
				&:before {
					bottom: 12px;
				}
				&:after {
					bottom: 2px;
				}
			}
			&.three {
				width: 292px;
				h2 {
					width: 243px;
				}
			}
			& > a {
				display: block;
				&:hover {
					h2 span {
						color: $color2 - #444;
					}
				}
			}
		}
	}
	h2 {
		position: absolute;
		color: $color2;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
		font-size: 1.8rem;
		line-height: 49px;
		font-weight: bold;
		bottom: 0;
		margin: 0;
		left: 50%;
		height: 52px;
		padding: 0 25px;
		transform: translateX(-50%);
		background-image: url('../images/modules/mc-title-shadow.svg');
		background-repeat: no-repeat;
		background-position: bottom center;
		&:before, &:after {
			content: '';
			width: 10px;
			height: 9px;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-image: url('../images/dot.svg');
			position: absolute;
			display: block;
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
		}
		&:before {
			left: 5px;
		}
		&:after {
			right: 5px;
		}
		span {
			position: relative;
			z-index: 2;
			color: $color2;
		}	
	}
}
.modules-content__background {
	width: 100%;
	height: 194px;
	transform: rotate(1deg);
}
.modules-content__background--title {
	width: 100%;
	height: 49px;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;	
	path {
		fill: #ca945e;
	}
}
@media (max-width: 1230px) {
	.modules-content {
		& > ul {
			width: 100%;
			& > li {
				&.one {
					h2 {
						bottom: -10px;
						transform: translateX(-50%) scale(0.8);
					}
				}
				&.two {
					h2 {
						bottom: -10px;
					}
				}
				&.three {
					width: 232px;
					height: 165px;
					svg {
						height: 165px;
					}
					h2 {
						svg {
							height: 49px;
						}
					}
				}
				&:before {
					bottom: 14px;
					left: 1px;
				}
				&:after {
					bottom: 7px;
					right: 1px;
				}
			}
		}
		h2 {
			transform: translateX(-50%) scale(0.7) translateY(10px);
		}
	}
}
@media (max-width: 1199px) {
	#modules-top2 {
		margin-top: 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.modules-content {
		& > ul {
			h2 {
				position: absolute;
				bottom: 0;
			}
			& > li {
				&:before {
					bottom: 13px;
				}
				&:after {
					bottom: 8px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	#modules-top2 {
		transform: none !important;
	}
	#modules-bottom {
		margin-bottom: 25px;
	}
	.modules-content {
		margin: 20px 0 0;
		overflow: visible;
		& > ul {
			width: 750px;
			margin: 0 auto;
			text-align: center;
			& > li {
				margin: 0 4px;
				&.one {
					width: 292px;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.modules-content {
		& > ul {
			& > li {
				&.one, &.two {
					h2 {
						// background-image: none;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.modules-content__background {
		height: 194px !important;
	}
	.modules-content {
		& > ul {
			width: 100%;
			display: block;
			& > li {
				display: block;
				margin: 10px auto;
				width: 292px !important;
				height: 208px !important;
				&:before {
					bottom: 24px !important;
					left: 2px !important;
				}
				&:after {
					bottom: 16px !important;
					right: 3px !important;
				}
				&.two {
					&:first-child, &:last-child {
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}
		h2 {
			width: 243px !important;
			height: 52px !important;
			transform: scale(1) translateX(-50%) translateY(10px);
			bottom: 0 !important;
			background-image: none;
			position: absolute !important;
		}
	}
}