.nav {
	@include clearfix();
	width: 1140px;
	z-index: 3;
	display: block;
	margin: 0 auto;
	position: relative;
	transform: translateY(-42px);
	pointer-events: none;
	& > div {
		pointer-events: auto;
		width: 892px;
		min-height: 88px;
		background-image: url('../images/nav/nav-outer.svg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		line-height: 18px;
		position: relative;
		left: 262px;
		padding: 35px 5px 10px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 33px;
			height: 31px;
			top: 9px;
			right: 8px;
			z-index: 2;
			background-size: cover;
			background-image: url('../images/decorations/bird.png');
			background-repeat: no-repeat;
		}
		li {
			&.open {
				& > a {
					background-color: transparent !important;
				}
			}
		}
		& > ul {
			position: relative;
			z-index: 2;
			font-size: 0;
			text-align: center;
			.dropdown-menu {
				& > li {
					& > a {
						background-color: transparent;
					}
				}
			}
			& > li {
				display: inline-block;
				font-size: 1.6rem;
				margin: 0 5px;
				&.open {
					& > a {
						&:hover, &:focus {
							background-color: transparent;						
						}
					}
					ul {
						border: 0;
						padding: 0;
						margin-right: 0;
						float: none;
						box-shadow: none;
						font-size: 1.6rem;
						background-color: transparent;
						min-width: 0;
						position: static;
						&:last-child {
							li {
								&:last-child {
									a {
										&:last-child {
											border-bottom: 0;
										}
									}
								}
							}
						}
						li {
							a {
								color: $color2;
								font-weight: bold;
								padding: 10px 0;
								text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.53);
								text-align: left;
								border-bottom: 1px solid #ffc45c;
								&:hover {
									color: $color2 - #444;
								}
								&.selected {
									text-decoration: none;
								}
							}
						}
					}
					& > ul {
						width: 192px;
						display: block;
						position: absolute;
						border-radius: 2px;
						background-color: #ca945e;
						background-image: url('../images/textures/texture-light.png');
						border: 2px solid #400808;
						transform: translateX(-50%);
						left: 50%;
						padding: 20px;
						&:before, &:after {
							content: '';
							position: absolute;
							left: 50%;
							display: block;
							transform: rotate(360deg) translateX(-50%);
						}
						&:before {
							top: -9px;
							width: 17px;
							height: 17px;
							box-shadow: 0 2px 2px rgba(0,0,0,0.5);
							border-radius: 50%;
							background-color: #ffc45c;
						}
						&:after {
							top: -4px;
							width: 9px;
							height: 9px;
							background-image: url('../images/nav/nav-arrow-down.svg');
							background-size: 100% 100%;
							background-repeat: no-repeat;
							z-index: 10;
						}
					}
					& > a {
						background-color: transparent;
						text-decoration: none;
						color: #ffc45c;
					}
				}
				& > a {
					display: block;
					padding: 10px;
					max-width: 875px;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
					font-weight: 700;
					color: #fff;
					&.selected, &:hover {
						text-decoration: none;
						color: #ffc45c;
					}
				}
			}
		}
	}
}
.nav__decoration--leaf {
	position: absolute;
	z-index: 1;
	top: -2px;
	left: 12px;
}
.nav__background {
	position: absolute;
	top: 2px;
	left: -1px;
	bottom: 2px;
	width: calc(100% + 1px);
	height: calc(100% - 6px);
	path {
		fill: #471100;
	}
}
@media (max-width: 1199px) {
	.nav {
		width: 940px;
		& > div {
			left: 0;
			&:before {
				display: none;
			}
		}
	}
}
@media (min-width: 992px) {
	.nav {
		height: auto !important;
	}
}
@media (max-width: 991px) {
	.nav__decoration--leaf {
		display: none;
	}
	.nav {
		z-index: 10;
		border: 0;
		display: none;
		position: absolute;
		transform: none;
		top: 48px;
		left: 0;
		right: 0;
		width: 100%;
		& > div {
			top: auto;
			bottom: auto;
			background-image: url('../images/toolbar/toolbar-texture.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			transform: none;
			width: 100%;
			padding: 0;
			position: relative;
			&:before {
				display: none;
			}
			& > ul {
				width: 100%;
				& > li {
					display: block;
					margin: 0;
					&.open {
						ul {
							position: static;
							border-radius: 0;
							transform: none;
							padding: 0;
							border: 0;
							background-color: transparent;
							background-image: none;
							width: 100%;
							&:before, &:after {
								display: none;
							}
							li {
								a {
									border: 0;
									text-align: center;
									font-weight: 400;
									color: #fff;
									text-shadow: none;
									&:hover {
										color: #ffc45c;
									}
								}
							}
							&:last-child {
								li {
									&:last-child {
										a {
											&:last-child {
												border: 0;
											}
										}
									}
								}
							}
						}
					}
					& > a {
						color: #fff;
						font-weight: 400;
						text-shadow: none;
						max-width: 100%;
					}
				}
			}
		}
	}
	.nav__background {
		display: none;
	}
}