.pagination {
	margin: 60px 0 80px;
	ul {
		li {
			display: inline-block;
			width: 38px;
			height: 39px;
			line-height: 39px;
			text-align: center;
			overflow: hidden;
			position: relative;
			font-weight: bold;
			font-size: 1.3rem;
			& > a {
				background-size: 100% 100%;
				border: 1px solid transparent;
				background-image: url('../images/pagination/pagination-shadow.svg');
				background-repeat: no-repeat;
				background-position: center bottom;
				color: $color2;
				height: 39px;
				position: absolute;
				width: 38px;
				display: block;
				transition: all .3s ease;
				text-decoration: none;
				&.pagination__first, &.pagination__prev {
					background-image: url('../images/pagination/pagination-shadow-prev.svg');
				}
				&.keyboard-outline {
					border-width: 2px !important;
					border-color: red !important;
				}
				&:hover {
					transform: rotate(6deg);
					color: $color2 - #444;
					text-decoration: none;
				}
				&:focus {
					text-decoration: none;
				}
			}
			svg:not(.pagination__sign) {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
			}
			.pagination__sign {
				display: block;
				position: relative;
				margin: 9px auto 0;
				z-index: 2;
				height: 18px;
			}
			span {
				position: relative;
				line-height: 39px;
				z-index: 2;
				&.sr-only {
					position: absolute;
				}
			}
			.pagination__first {
				background-size: 100% 100%;
				background-image: url('../images/pagination/pagination-shadow.svg');
				background-repeat: no-repeat;
				background-position: center bottom;
				.pagination__sign {
					transform: rotate(180deg);
				}
			}
			&.pagination__page--active {
				span {
					color: #ffc45c;
					position: relative;
					line-height: 39px;
					z-index: 2;
					&.sr-only {
						position: absolute;
					}
				}
				& > div {
					height: 39px;
					position: absolute;
					width: 38px;
				}
				svg {
					path {
						fill: #471100;
					}
				}
			}
			&:before {
				@include dot();
				top: 2px;
				right: 3px;
				z-index: 4;
			}
		}
	}
}
.pagination__svg--path {
	fill: #ca945e;
}
.pagination__first--path, .pagination__prev--path, .pagination__next--path, .pagination__last--path {
    fill: #7e2705;
}
.pagination__sign--short {
	width: 12px;
}
.pagination__sign--long {
	width: 16px;
}
@media (max-width: 991px) {
	.pagination {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.pagination {
		width: 100%;
		ul {
			text-align: center;
		}
	}
}