.toolbar {
	margin: 3px auto 0; 
	width: 1170px; 
	height: 48px;
	color: #fff;
	z-index: 9;
	position: relative;
	background-image: url('../images/toolbar/toolbar-outer.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	a {
		color: #fff;
	}
}
.toolbar__holder {
	@include clearfix();
	position: relative;
	z-index: 2;
}
.toolbar__holder--left {
	margin-top: 6px;
	float: left;
}
.toolbar__holder--right {
	margin-top: 5px;
	float: right;
}
.toolbar__links {
	float: left;
	font-size: 1.3rem;
	li {
		display: inline-block;
		a {
			display: block;
			img {
				margin-right: 6px;
			}
		}
		&:not(:last-child) {
			margin-right: 20px;
		}
		&:last-child {
			margin-top: 3px;
		}
	}
}
.toolbar__fonts {
	float: left;
	span {
		display: inline-block;
		margin-right: 7px;
	}
	ul {
		display: inline-block;
	}
	li {
		display: inline-block;
		font-weight: 700;
		text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
		margin-right: 4px;
		&:first-child {
			font-size: 14px;
		}
		&:nth-child(2) {
			font-size: 17px;
		}
		&:last-child {
			font-size: 20px;
		}
	}
}
.toolbar__contrast {
	float: left;
	margin: 0 36px 0 10px;
	& > div {
		position: relative;
		top: 4px;
		width: 19px;
		height: 19px;
		border-radius: 50%;
		background-color: #000;
		overflow: hidden;
		box-shadow: 1px 3px 3px rgba(0,0,0,0.6);
		&:before {
			content: '';
			display: block;
			position: absolute;
			background-color: #fff;
			width: 10px;
			height: 19px;
			top: 0;
			bottom: 0;
			left: 9px;
		}
	}
}
.toolbar__background {
	position: absolute;
	width: 100%;
	height: 48px;
	top: -3px;
	left: 0;
	bottom: 0;
	right: 0;
	path {
		fill: #471100;
	}
}
.toolbar__search--path {
	fill: #ca945e;
}
.toolbar__search {
	float: left;
	form {
		@include clearfix();
	}
	input[type="text"] {
		width: 180px;
		float: left;
		padding-right: 15px;
	}
	button {
		transition: all .3s ease;
		float: left;
		width: 82px;
		height: 39px;
		font-weight: 700;
		color: $color2;
		line-height: 39px;
		position: relative;
		padding: 0;
		bottom: 1px;
		right: 10px;
		svg {
			width: 82px;
			height: 39px;
			position: absolute;
			top: 0;
			left: 0;
		}
		span {
			position: relative;
			z-index: 2;
			bottom: 2px;
		}
		&:before {
			@include dot();
			top: 3px;
			left: 36px;
			z-index: 3;
		}
		&:hover {
			color: $color2 - #444;
		}
	}
}
.toolbar--hamburger {
	display: none;
	background-image: url('../images/textures/texture-dark.jpg');
	background-repeat: repeat;
	border: 0;
	box-shadow: none;
	width: 100%;
	height: 48px;
	padding: 6px 15px;
	i {
		pointer-events: none;
		transition: all .3s ease;
		display: block;
		width: 36px;
		height: 3px;
		background-color: #fff;
		&:not(:last-of-type) {
			margin-bottom: 7px;
		}
	}
	&[aria-expanded="true"] {
		i {
			&:first-of-type {
				transform: rotate(45deg) translateX(8px) translateY(7px);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:last-of-type {
				transform: rotate(-45deg)  translateX(7px) translateY(-6px);
			}
		}
	}
}
@media (max-width: 1199px) {
	.toolbar {
		width: 970px;
		margin-top: 5px;
		background-size: 99% 100%;
		background-position: 17% 50%;
	}
	.toolbar__background {
		top: -5px;
	}
}
@media (max-width: 991px) {
	.toolbar {
		width: 100%;
		margin: 0;
		background-image: url('../images/toolbar/toolbar-texture.jpg');
		background-repeat: repeat;
	}
	.toolbar__holder--left {
		margin: 10px 0 0;
	}
	.toolbar__holder--right {
		margin: 8px 0 0;
	}
	.toolbar__background, .toolbar__fonts {
		display: none;
	}
	.toolbar--hamburger {
		display: block;
	}
}
@media (max-width: 767px) {
	.toolbar__links {
		font-size: 0;
		li {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
	.toolbar__search {
		input[type="text"] {
			display: none;
		}
		.show {
			input[type="text"] {
				display: none;
				display: block;
				position: absolute;
				right: 80px;
				top: 0;
			}
		}
	}
}