$basic: #484848;
$color1: #3a9d0c;
$color2: #7e2705;
$color3: #e59a3e;
html {
	font-size: 62.5%;
}
body, html {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}
body {
	color: $basic;
	background-color: #eff9fa;
	background-image: url('../images/background-gradient.png');
	background-repeat: repeat-x;
	font-size: 1.4rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
span {
	word-wrap: break-word;
	overflow-wrap: break-word;
	max-width: 100%;
}
a {
	color: $color1;
	text-decoration: none;
	outline: 0;
	display: inline-block;
	word-wrap: break-word;
	overflow-wrap: break-word;
	transition: all .3s ease;
	&:hover, &:focus {
		color: $color1;
	}
}
a[href^="mailto:"] {
	word-break: break-all;
}
button {
	cursor: pointer;
}
img {
	max-width: 100%;
	height: auto;
}
.clearfix, .clear {
	@include clearfix();
}
form, fieldset {
	margin: 0; 
	padding: 0; 
	border: none;
}
legend {
	position: absolute; 
	left: -9000em;
}
input[type="text"], input[type="password"], input[type="email"] {
	height: 32px;
	width: 100%;
	line-height: 30px;
	border: 1px solid #6b2e15;
	color: #6b2e15;
	background-color: #f3d5ba;
	padding: 0 10px;
}
textarea {
	border: 1px solid #6b2e15;
	padding: 10px;
	width: 100%;
	color: #6b2e15;
	background-color: #f3d5ba;
	resize: none;	
}
ul {
	margin: 0; 
	padding: 0; 
	list-style: none;
}
button {
	background-color: transparent;
	border: 0;
	box-shadow: none;
    appearance: none;
    border-radius: 0;
}

iframe {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a:not([href]) {
	width: 0;
	height: 0;
	display: inline;
}
h3 {
	font-weight: 700;
	color: $color2;
	margin: 0 0 10px;
	font-size: 2rem;
	line-height: 24px;
}
.base {
	display: none;
}
@media (min-width: 1231px) {
	body, html {
		overflow-x: hidden;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 100% !important;
	}
}
@media (max-width: 991px) {
	body {
		overflow-x: hidden;
	}
	.main {
		height: auto !important;
	}
}