@mixin clearfix {
	&:before, &:after {
			content: " ";
			display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin retina() {
	@media (min--moz-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(-webkit-min-device-pixel-ratio: 1.5),
	(min-device-pixel-ratio: 1.5),
	(min-resolution: 1.5dppx) {
	   @content;
	}
}
@mixin dot() {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 9px;
	background-image: url('../images/dot.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
@mixin full() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}